[2013-11-08 17:25] dwcaraway opened #1 "Setup development environment for Central CKAN"

[2013-11-08 17:25] dwcaraway opened #2 "A central CKAN can generate multiple data.json files, one per organization"

[2013-11-08 17:25] dwcaraway opened #3 "Create a timeline of Central CKAN mapped to ODEO IG"

[2013-11-08 17:25] dwcaraway opened #4 "Common core metadata does not have form validation"
There isn't form validation at all, including actually requiring the required core metadata. I tried using some CKAN validators to require certain fields, but it would crash the server if a dataset didn't already contain them (not backwards compatibile) and would block the dataset creation process (because you submit 3 times during creation, so required fields would have to be in first form to not

[2013-11-08 17:25] dwcaraway opened #5 "final release corrections to schema"
There are a handful of changes that still need to be made to the schema for the release product.   These are:

1) Add the following fields to the Required-If-Applicable section:
Bureau Code, text box, example: 015:010
Program Code, text box, example: 015:001
Access Level Comment, text field, example: e.g. An explanation for the accessLevel field, including instructions on how to access public-but-

[2013-11-08 17:25] dwcaraway opened #6 "A data steward can enter the common core metadata for a dataset"

[2013-11-08 17:25] dwcaraway opened #7 "Update common-core metadata with latest changes from Marina/Gray"

[2013-11-08 17:25] dwcaraway opened #8 "An organization user can manually enter metadata about private data sets."
This describes the ability of an organization to enter all the metadata about a private dataset without actually uploading the dataset. This allows the organization to keep the dataset private and housed wherever they like but still acknowledge its existence via the data.json file.

[2013-11-08 17:25] dwcaraway opened #9 "Inventory.data.gov is not Viewable by Unauthenticated Users"
TODO

[2013-11-08 17:25] dwcaraway opened #10 "An organization can export a data.json file with their entire Enterprise Data Inventory"

[2013-11-08 17:25] dwcaraway opened #11 "Data.json not populated with common core metadata values"
the data.json has a lot of nulls for the fields:

from http://54.225.249.14/data.json:
{"title": "testtesttest", "description": "testtest", "keyword": "foo,of,test", "modified": null, "publisher": "", "organization": {"description": "", "title": "Department of Energy", "created": "2013-08-19T16:26:01.343601", "approval_status": "approved", "revision_timestamp": "2013-08-19T16:26:01.299308", "is_or

[2013-11-08 17:26] dwcaraway opened #12 "The "Organization" field isn't being populated while editing a dataset"
1. Go here http://54.225.249.14/organization/department-of-energy
2. Click on a dataset
3. Click edit

You will see that the "Organization" field is not populated

[2013-11-08 17:26] dwcaraway opened #13 "Update CKAN theme and about text"

[2013-11-08 17:26] dwcaraway opened #14 "Adding additional metadata appears to erase or hide common core data"
Steps to repeat:
1.) Edit a dataset that has values for all common core metadata (required, required-if-applicable, and expanded)
2.) Under additional metadata, add a few fields
3.) Edit dataset again, notice that some of the common core metadata is no longer populated.

[2013-11-08 17:26] dwcaraway opened #15 "A federal government employee can use their existing credentials to login to C-CKAN."

[2013-11-08 17:26] dwcaraway opened #16 "Correct accessLevel enumeration"
accessLevel has enum "private" instead of "non-public". Correct the enum and run database query to change the free extra from "private" to "non-public".

[2013-11-08 17:26] dwcaraway opened #17 "An organization administrator can add and remove members to/from their organization"
This story is a placeholder to confirm the functionality that an organization admin and ONLY and organization admin may administer users for their organization. A user may not administer organizations other than their own.

[2013-11-08 17:26] dwcaraway opened #18 "next.data.gov soft launch"

[2013-11-08 17:26] dwcaraway opened #19 "Add mcc.gov/data.json to harvester"
We haven't been able to add it to next.data.gov yet but can try soon.  Dave, can you try to add mcc.gov/data.json to the harvester and let us know if it's working?  You might have to enter the redirected url instead - http://data.mcc.gov/raw/data.json.

[2013-11-08 17:26] dwcaraway opened #20 "An organization can generate a data.json from its data sets, both public and private"
An organization can generate a data.json file

[2013-11-08 17:26] dwcaraway opened #21 "CKAN can evaluate a data.json file for broken links"
We've seen examples where bad URLs and other info come in through the data.json file. Need a utility to check the data.json file and flag broken links.

[2013-11-08 17:26] dwcaraway opened #22 "Remove default CKAN login so that users log in using oauth"

[2013-11-08 17:26] dwcaraway opened #23 "A data steward can upload files to Central CKAN"

[2013-11-08 17:26] dwcaraway opened #24 "Organization data.json cleanup"
It is working at

http://107.20.159.173/data/Testorg.json
http://107.20.159.173/data/My%20Organization.json

Should we use machine name for the json file,  such as testorg.json and my-organization.json, instead of human readable titles? There might be same titles for different orgs.

---

And for orgs without dataset, we can still serve an empty json file [] instead of a 404.

[2013-11-08 17:26] dwcaraway opened #25 "As a organizational admin, I want the ability to export analytics in multiple formats"
I'm not really sure what all should go here yet, but I think a key data set that every organization should have is information about traffic to its site. This includes page visits as well as download/upload activity. This may be available via api or file download.

[2013-11-08 17:26] dwcaraway opened #26 "An organization can pull in data.json files from sub-agencies to populate their enterprise data inventory with public listings."

[2013-11-08 17:26] dwcaraway opened #27 "As an organization admin, I want the ability to delegate to subagencies."

[2013-11-08 17:26] dwcaraway opened #28 "As an organization, I want the ability to stand up child organizations"

[2013-11-08 17:26] dwcaraway opened #29 "As a primary agency, I want to be notified when one of my subagencies registers to have a data.json harvested by Data.gov"

[2013-11-08 17:26] dwcaraway opened #30 "Missing searchform.php"
was browsing as an admin inside the wordpress instance. the server became unresponsive. I checked the logs at /var/logs/httpd/error_log (see screenshot)

Appears that category.php, line 168, references searchform.php, which does not exist.

I haven't tested to repeat the behavior.

[2013-11-08 17:26] dwcaraway opened #31 "FTP urls should not be accessed via HTTP"
Steps to repeat:
1.) Navigate to http://catalog-next.data.gov/dataset/community-health-status-indicators-chsi-to-combat-obesity-heart-disease-and-cancer
2.) Select Download button
3.) Observe that URL is invalid: http://ftp//ftp.cdc.gov/pub/Health_Statistics/NCHS/Datasets/CHDI/chsi_dataset.zip

[2013-11-08 17:26] dwcaraway opened #32 "Zip file types in CKAN should not have a preview option"
Steps to repeat:
1.) Open http://catalog-next.data.gov/dataset/community-health-status-indicators-chsi-to-combat-obesity-heart-disease-and-cancer
2.) Observe that the preview button is there!

[2013-11-08 17:26] dwcaraway opened #33 "Organizational data stewards can specify required metadata in addition to the common core metadata"
This means that we can have agency-specific metadata added to the new dataset creation process

[2013-11-08 17:28] dwcaraway commented on #1
Completed back when using pivotal tracker

[2013-11-08 17:28] #1 closed, assigned to nobody

[2013-11-13 00:24] cew821 opened #34 "Resource URL ("accessURL") should not be required for non-public datasets"
When I'm adding a dataset with a `PublicAccessLevel` of private or restricted, I shouldn't need to provide a download URL. However, Inventory.CKAN.org won't let me add a dataset without a "resource" which I assume it is mapping to `accessURL` in the schema.

![image](https://f.cloud.github.com/assets/1237498/1527631/5242a762-4bf9-11e3-933d-f8dd8cb51865.png)

[2013-11-13 00:27] cew821 opened #35 "Edits to datasets cannot be saved"
Metadata cannot be edited once a dataset has been added.

When you try to edit a dataset, and press "Update," you receive an "invalid entries" error as shown below. There is no way to edit a dataset once added.

![image](https://f.cloud.github.com/assets/1237498/1527680/56a854a4-4bfa-11e3-96aa-96e1416afe38.png)

[2013-11-13 00:31] cew821 opened #36 "Clicking "Read More" under an organization logo leads to a 404 error."
Clicking "Read More" under the Dept. of Energy logo leads to a 404 error.

![image](https://f.cloud.github.com/assets/1237498/1527702/cd96758c-4bfa-11e3-87e9-33d419132f38.png)

![image](https://f.cloud.github.com/assets/1237498/1527704/dff53934-4bfa-11e3-96ce-8dccec7c88ef.png)

[2013-11-13 00:35] cew821 opened #37 "Agency:Bureau Code Validation Error should be more helpful"
When you add a value in this field with the wrong format, the error should be more helpful. i.e. "Bureau Code must be in format xxx:xx" instead of "the input is not valid."

![image](https://f.cloud.github.com/assets/1237498/1527724/418df60e-4bfb-11e3-8177-6408c037a402.png)

[2013-11-13 00:38] cew821 opened #38 "Accrual Periodicity should Default to "Null" instead of "Annual""
When a user adds a new default, "Annual" is selected by default on the entry form, and there is no way to deselect a value. As such, every dataset added with the tool must have an accrual periodicity.

Since Accrual Periodicity is an optional field, there should be a way to leave this blank.

Most likely, the default value should be blank instead of "Annual" as well.

[2013-11-13 00:42] cew821 opened #39 "Can't Remove Custom Fields When Editing a Dataset"
When you click "Edit" on a dataset, and try to remove a field (i.e. by clicking the red "x" on a custom field)

![image](https://f.cloud.github.com/assets/1237498/1527764/1b9a50ae-4bfc-11e3-9827-4982d575444a.png)

And then click "Update" you get two invalid entries errors:

![image](https://f.cloud.github.com/assets/1237498/1527766/2a1c6054-4bfc-11e3-9180-83a54e532987.png)

The `Datasets with no o

[2013-11-13 00:47] cew821 opened #40 "Resources cannot be deleted from a dataset"
I click on “Edit”, then click on a resource under "Edit Resources." From this screen (shown below) I click “Delete” then click “Confirm” … everything seems to be fine and I’m returned to the Dataset page. However, the resource I tried to delete is still there.

![image](https://f.cloud.github.com/assets/1237498/1527795/e342e094-4bfc-11e3-902b-89c07fa9f81b.png)

There's no error message shown, but

[2013-11-13 22:15] cew821 opened #41 "Intermittent server errors"
Update from @philipashlock:

Because of the intermittent nature of this issue it's been difficult to pinpoint the cause or determine if the errors all have the same root cause. To help diagnose any issues like this, we'll continue to capture examples here so we can see if there are any correlations with error logs on the server or other data points.

If you encounter a server error like this, plea

[2013-11-14 00:07] gbinal opened #42 "allow users to log in with PIV cards"

[2013-11-14 20:53] dwcaraway commented on #35
There is a bug in CKAN core (see https://github.com/okfn/ckan/pull/1199?source=cc) that causes the current organization selection to not set. We have to merge in the change from ckan core to fix this issue.

[2013-11-14 22:15] cew821 commented on #41
Got another error today, at 17:14 ET on Nov 14:

![image](https://f.cloud.github.com/assets/1237498/1545684/2f2d0042-4d7a-11e3-9111-8c7ab63c8e5c.png)

It worked the second time I reloaded. I bet server logs have some information.

[2013-11-15 06:41] gbinal commented on #35
How hard is that?  If it's fundamental, I'm in favor.

g

[2013-11-15 10:37] dwcaraway commented on #35
it's simple.

[2013-11-15 11:18] dwcaraway commented on #35
Pulled in the fix, but turns out there's another bug, this one still open https://github.com/okfn/ckan/issues/1188.

The problem is that for non-sysadmins, the organization field is not displayed when editing (saying hey, doe owns this dataset, so it probably shouldn't be reassigned to another agency like doi). Makes sense, but the validators don't differentiate between sysadmins and non-sysadmins

[2013-11-15 11:26] dwcaraway commented on #35
Issued is caused by datasets_with_no_organization_cannot_be_private on 'private' attribute in schema.py , see https://gist.github.com/dwcaraway/7482895

[2013-11-15 11:27] dwcaraway commented on #35
I will attempt workaround by submitting owner_org as a hidden field in the edit form

[2013-11-15 12:34] dwcaraway commented on #35
fixed. closing

[2013-11-15 12:34] #35 closed, assigned to nobody

[2013-11-15 12:46] dwcaraway commented on #40
I believe this is due to a bug in ckan core https://github.com/okfn/ckan/pull/1216 . Going to merge the fix in and see if it fixes our issue.

[2013-11-15 12:48] cew821 commented on #41
Happened again on 2013-11-15 at 7:48am ET -- I also confirmed that another DOE user (Paul) has seen this before too. Once I refresh the page, the error goes away.

![image](https://f.cloud.github.com/assets/1237498/1549876/3066778e-4df4-11e3-92a5-e7258e67e54b.png)

[2013-11-15 13:06] dwcaraway commented on #40
yep, that worked. See commit https://github.com/dwcaraway/ckan/commit/5d9a00c1a71b6b51cb2a33df1a27d96f4779fa51

[2013-11-15 13:06] #40 closed, assigned to nobody

[2013-11-15 13:17] dwcaraway commented on #39
Ability to edit datasets by non-sysadmins fixed in https://github.com/GSA/enterprise-data-inventory/issues/35.

Extras: Missing Value ---looking into that now but appears to be an issue with the schema.

Note that despite the message, edits (removals) are saved.

[2013-11-15 13:28] cew821 commented on #40
It seems that CKAN core has a serious need for some unit and integration tests, so they don't merge in changes that cause major regressions!

[2013-11-15 13:29] dwcaraway commented on #40
indeed

On Fri, Nov 15, 2013 at 8:28 AM, Charles Worthignton <
notifications@github.com> wrote:

##

Dave Caraway
Co-Founder
Fogmine
dave@fogmine.com
Cell: (937) 985-0867
Fax: (866) 238-3120

[2013-11-15 15:38] cew821 commented on #35
I'm still seeing this error - has the fix been pushed to production?

[2013-11-15 15:40] gbinal commented on #35
Unfortunately not - Our next code push is Tuesday PM and it'll be there.  Thanks for helping us find bugs to stamp out, Charles.

[2013-11-15 23:13] cew821 commented on #34
If we don't fix this, we should at least give some guidance on what agency's should put in the "accessURL" field for non-public datasets.

[2013-11-15 23:19] cew821 commented on #16
The correct enums, per the [schema](http://project-open-data.github.io/schema/) are: “public”, “restricted public”, “non-public”

The current enum has "public restricted" instead of "restricted public". I'm trying to update the JSON validator tool by getting it to validate "correct" json as generated by inventory.data.gov, and this is one reason it doesn't currently validate. If it's an easy fix t

[2013-11-16 00:01] #16 closed, assigned to nobody

[2013-11-18 19:03] gbinal opened #43 "enable https access by default"
Perhaps redirect http://inventory.data.gov to https://inventory.data.gov so that more users default to the https experience.

[2013-11-18 19:47] pandyapm commented on #42
The OMB M-11-11 requires that all applications should be PIV enabled.

[2013-11-19 14:05] gbinal commented on #20
@dwcaraway - This has been corrected, with the addition of the two buttons, right?

[2013-11-19 14:06] gbinal commented on #10
@dwcaraway - Also done with your code push that added in the two buttons, right?

[2013-11-19 14:32] dwcaraway commented on #20
yep. closing

[2013-11-19 14:32] #20 closed, assigned to nobody

[2013-11-19 14:33] dwcaraway commented on #10
yep, closing

[2013-11-19 14:33] #10 closed, assigned to nobody

[2013-11-19 17:31] dwcaraway opened #44 "Only organization members can access the enterprise data inventory"
Right now, an user can access the enterprise data inventory using the url /organization/your_org_id/edi.json. Restrict access to org members and sys admins only.

[2013-11-20 16:05] emakred opened #45 "Public access level: The input is not valid"
I am entering some of our non-public data, so chose the appropriate drop-down from the Public Access Level menu but am receiving an error upon clicking the "Next, Add Data" button

[2013-11-20 21:28] cew821 commented on #45
Screen shot or pasted text of the error message would be helpful, I'll see if I can try to recreate.

[2013-11-21 14:59] dwcaraway commented on #14
appears to be fixed.

[2013-11-21 14:59] #14 closed, assigned to nobody

[2013-11-21 17:46] emakred commented on #45
Thanks!

![error](https://f.cloud.github.com/assets/5290116/1594038/c21addd4-52d4-11e3-88cf-5f55b3470d09.JPG)

[2013-11-21 19:30] cew821 commented on #16
@dwcaraway I wonder if fixing this caused Issue #45? Somehow the enum updates didn't get flowed throw everywhere? cc / @gbinal @emakred

[2013-11-21 19:33] cew821 commented on #45
cc @gbinal I think this bug in inventory.data.gov is currently preventing anyone from adding a dataset marked "non-public" ... recommend this be marked as "priority"

![image](https://f.cloud.github.com/assets/1237498/1595001/c4de579e-52e3-11e3-9f9e-90189c21e321.png)

[2013-11-21 19:42] cew821 opened #46 "JSON output for bureauCode and programCode don't match schema"
The JSON generated using the Enterprise Data Inventory and the Public Data Listing feature creates JSON like this:

[code]

However the [schema](http://project-open-data.github.io/schema/) says that these should be given as an array of strings, like this:

`{ "programCode":["015:001”, “015:002”] }`

Inventory.data.gov should generate JSON that complies with the schema.

[2013-11-21 19:46] ghost opened #47 "Add 'last updated' field (automatically populated)?"
... for easy reference for publishers to check potential 'expiration' dates or for updates that need be made to outdated metadata.

Just a thought, not a big deal.

[2013-11-21 19:56] cew821 opened #48 "Not able to add multiple bureauCodes and programCodes to a dataset?"
As per the schema, a data asset created by a federal agency should have one or more `programCode`s and `bureauCode`s. How should data assets with more than one bureauCode or programCode be recorded?

Recommendation: accept comma separated codes e.g. "019:05,018:02". Or, do whatever you do now for accepting one or more strings as an array (i.e. for keywords).

JSON output from an input like that wo

[2013-11-21 22:09] daverudolph opened #49 "Required Fields and Editing Metadata for Datasets"
The UI for editing datasets is different than the UI for adding datasets. Whereas the "Add Dataset" page includes \* next to required fields, the "Edit Dataset" UI does not. If required fields have not been entered or completed for a dataset, there is no way for a Data Steward to know unless they cross-reference the required fields on the "Add Dataset" page, or else have a copy of the guidance pro

[2013-11-21 22:13] daverudolph opened #50 "Unique ID Uniqueness"
CKAN currently does not check for duplicate values for Unique IDs. It would be helpful if, when a person adds a new dataset, CKAN checks for duplicate values and flags a User if a duplicate ID is already in the system.

[2013-11-22 02:16] dwcaraway commented on #16
yup, the validator was looking for 'public restricted'. fixed in
https://github.com/GSA/USMetadata/commit/a66e307e8405c8a7dbfd09bdd9ff42bb22a9cea3
.

thanks!

On Thu, Nov 21, 2013 at 2:30 PM, Charles Worthignton <
notifications@github.com> wrote:

##

Dave Caraway
Co-Founder
Fogmine
dave@fogmine.com
Cell: (937) 985-0867
Fax: (866) 238-3120

[2013-11-22 02:41] #38 closed, assigned to nobody

[2013-11-22 05:51] kvuppala opened #51 "Public Data Listing button gives internal server error in some cases"
loged into the inventory as ckan admin,
go to http://inventory.data.gov/organization/aphis-usda-gov and click on the "Public Data Listing" button generates an 500 internal server error.

[2013-11-22 05:53] kvuppala opened #52 "data.json harvest source option on available on harvest creation page"
Going to http://inventory.data.gov/harvest/new page, doesn't provide the data.json harvester source type.  I think this will be required for CKAN catalogs where the data.json files need to be one of the harvest source types.

[2013-11-22 12:06] cew821 commented on #41
One more instance this morning at 7:06am ET... in case you want to check logs.

![image](https://f.cloud.github.com/assets/1237498/1600379/7a9ea13a-536e-11e3-82ec-f780a7ae1608.png)

[2013-11-22 12:08] cew821 commented on #51
I noticed yesterday (or maybe since the Tuesday release) that the creation of the JSON file was taking a lot longer than previously. I'm not sure why, but probably something different is happening behind the scenes.

The request eventually works for me, but I wouldn't be surprised if it's approaching a request timeout limit, and I'm only running it on 15 datasets so far.

[2013-11-22 12:13] cew821 commented on #51
I'm trying to think what has changed:
- new build on Tuesday: was any different logic introduced to the json generator that we should check?
- many orgs harvested lots of datasets, so the count of datasets in the database went up a lot (though is still small in absolute terms). If there was something slow in the query methods used in the json generator script, those might only show up as items wer

[2013-11-22 14:46] cleithiser opened #53 "Editing existing entries"
When editing, I am not given the option to select public; or non-public. It is defaulting to Private.

The other field that is not being presented for me to edit is the format (e.g., txt; txt/csv; xml; pdf).

[2013-11-22 17:06] pandyapm opened #54 "The web site needs to be fully secured with all contents delivered over the SSL"
The web site shows as partially SSL secured and some contents are not delivered over the SSL. This can lead into defacing of the website or vulnerable to the XSS type attacks.
Solution: check the web pages for external references used(images etc) and make copy to the local server instead of referring them to the no SSL external web site.
The image http://assets.okfn.org/images/ok_buttons/od_80x15_

[2013-11-22 18:17] emakred commented on #45
This is still not working for me, as of 11/22/2013, 1:17pm EST
Note:  it _appears_ that this was marked complete by editing code for _Public but Restricted_ datasets, but my issue is for NON PUBLIC datasets.
thanks-

[2013-11-22 18:28] dwcaraway commented on #45
hi erin, the change won't go into production until Tuesday night

On Nov 22, 2013, at 1:17 PM, emakred notifications@github.com wrote:

This is still not working for me, as of 11/22/2013, 1:17pm EST

—
Reply to this email directly or view it on
GitHubhttps://github.com/GSA/enterprise-data-inventory/issues/45#issuecomment-29095947
.

[2013-11-22 18:32] cew821 commented on #45
Is there a rationale for weekly deployments? Given the deadline agencies
are working under, the upcoming holiday, and the critical nature of some
these bugs I would think we should accelerate the release schedule if at
all possible.

 I may be misunderstanding some aspect of this, but if not consider this a
request to go to at least nightly releases if possible.

On Friday, November 22, 2013, Dave

[2013-11-22 18:44] dwcaraway commented on #45
the release schedule is tues/thurs, and it's set by our contractor. agree
that more flexibility in the release schedule would be great but i don't
have a lot of control over it.

once we have code, we have to package it, deploy to staging, test, run
security scans, then deploy to production. our code is deployed on schedule
with several other sites.

my code fix yesterday was after the release dea

[2013-11-22 18:52] gbinal commented on #52
I'm removing the priority label because I don't believe we have to have this for launch or the immediate aftermath.  Let me know if I'm missing something though.

[2013-11-22 18:56] gbinal commented on #51
+1

I've noticed the same behavior and the same timing.  @dwcaraway: any ideas?  @kvuppala, we might need you or yours to find out how we get our hands on the logs for this.

[2013-11-22 18:57] pandyapm opened #55 "Provide description for each input field from the Common Core Metadata Schema document"
Provide help utility (mouse over function) to users for each metadata field from the Common Core Metadata Scehema document.

[2013-11-22 19:01] gbinal commented on #48
Good point, Charles.  @dwcaraway - game to chew on this?

[2013-11-22 19:01] cew821 commented on #48
For what it's worth this is low priority for me.

[2013-11-22 19:02] gbinal commented on #46
+1

[2013-11-22 19:03] gbinal commented on #55
Agreed.  Though this is an enhancement, I tagged it Priority because of it's significant utility.  I'll try to do a first pass at building the text for this but will need help integrating it.

[2013-11-22 19:04] cew821 commented on #45
Ok thanks for clarification.

[2013-11-22 19:08] gbinal commented on #44
Though I agree with you, I actually see /organization/very_long_hash_that_I'm_not_sure_others_would_find/edi.json.  Still worth addressing but less critical if it's no longer /organization/your_org_id/edi.json.

[2013-11-22 19:09] gbinal commented on #41
Thanks, Charles.  We're able to replicate it and will try to address it soon.

[2013-11-22 19:11] gbinal commented on #36
Confirmed.

[2013-11-22 19:12] gbinal commented on #34
+1

[2013-11-22 19:19] gbinal commented on #19
I think this is now in the purview of next.data.gov and is something we're already on track to process, so am going to close this issue out.

[2013-11-22 19:19] #19 closed, assigned to nobody

[2013-11-22 19:22] gbinal commented on #25
I feel like this issue belongs more to the [data.gov issue tracker](https://github.com/GSA/data.gov), right?  If so, any thoughts on closing this issue?

[2013-11-22 19:24] gbinal commented on #24
As an update, the json files appear to now be named 'edi.json' and 'data.json', which would seem  to be right to me.  I think we can close this issue.

[2013-11-22 19:28] gbinal commented on #17
Confirmed

[2013-11-22 19:28] #17 closed, assigned to nobody

[2013-11-22 19:29] gbinal commented on #18
I think this placeholder can be closed.

[2013-11-22 19:29] gbinal commented on #2
completed.

[2013-11-22 19:29] #2 closed, assigned to nobody

[2013-11-22 19:30] gbinal commented on #4
This appears to be resolved, yes?

[2013-11-22 19:31] gbinal commented on #5
Completed.

[2013-11-22 19:31] #5 closed, assigned to nobody

[2013-11-22 19:31] gbinal commented on #6
This appears to be completed and can be closed, right?

[2013-11-22 19:31] gbinal commented on #7
Completed

[2013-11-22 19:31] #7 closed, assigned to nobody

[2013-11-22 19:32] gbinal commented on #8
This is done (or will be after issue #34 is resolved).

[2013-11-22 19:32] #8 closed, assigned to nobody

[2013-11-22 19:33] gbinal commented on #9
This is resolved.  At a future time, we may need to work towards a newer regime that doesn't require duel logins but that can wait.

[2013-11-22 19:33] #9 closed, assigned to nobody

[2013-11-22 19:34] gbinal commented on #13
This appears to be done.  Suggest closing.

[2013-11-23 15:23] dwcaraway commented on #18
yup

[2013-11-23 15:23] #18 closed, assigned to nobody

[2013-11-23 15:23] dwcaraway commented on #4
yup

[2013-11-23 15:23] #4 closed, assigned to nobody

[2013-11-23 15:24] dwcaraway commented on #6
yup

[2013-11-23 15:24] #6 closed, assigned to nobody

[2013-11-23 19:49] gbinal opened #56 ""can't edit license on edit page Edit""
[Transferring from [the issue tracker for Project Open Data](https://github.com/project-open-data/project-open-data.github.io/issues/195) - GB, @regina-avila]

"can't edit extended core on edit page for new dataset"

[2013-11-25 15:26] emakred commented on #51
+1
seeing the same behavior on both the EDI and PDL, eventually it worked but not the first few tries on a few different browsers sessions

[2013-11-25 18:43] regongithub opened #57 "need a way to enter multiple keywords at once"
I have dozens of keywords for my dataset. I can only enter them one at a time? Can't enter them in bulk, separated by semicolons.

It appears that the tags separate if I type in commas, but they have to be typed in one at a time.

[2013-11-25 20:27] cew821 opened #58 "CKAN replaces valid MIME types in the format field with non-standard format labels"
According the schema, the format field is supposed to be a MIME type (i.e. `"application/json"` or `"text/csv"` or `"text/xml"` or `"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"` for an .XLSX file (see [this article](http://en.wikipedia.org/wiki/Internet_media_type#Type_application) for a list of MIME types).

However, if you type in a format like "text/csv" into format field

[2013-11-26 04:51] dwcaraway commented on #51
@kvuppala @FuhuXia can I get the server logs when this error happens? If it's a 500, then there will be a stack trace in the logs.

[2013-11-26 19:36] cew821 commented on #51
Not sure if you guys are using a similar approach as this project, but you may want to check out this pull request:
https://github.com/HHS/ckanext-datajson/pull/8

[2013-11-27 01:21] emakred commented on #45
what time tonight will it be effective (just tried, same error)?
thanks!

[2013-11-27 04:37] dwcaraway commented on #45
reopened the ticket. looks like I didn't commit this change to github -- pinging the folks doing deployment to make a 1-line fix that should correct the bug.

in the meantime, there's a workaround: create the dataset as usual assigning it a public or restricted public access level. then edit the dataset and set the access level to 'non-public'. annoying, sorry, but this way you can specify dataset

[2013-11-27 14:16] emakred commented on #45
i used that workaround to enter 48 datasets, thanks!

[2013-12-02 15:36] dwcaraway commented on #51
Reviewing the logs, I'm seeing a recurring apache error log entry:

[code]

From reviewing the logs, every exceptions.KeyError occurrence was due to 'public_access_level' and all resulted in an HTTP 500 exception.

From looking at https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/plugin.py it appears that the below code snippet is the suspect:

[code]

Will fix by changing the '

[2013-12-02 16:04] dwcaraway commented on #51
On my local machine, I verified this fix by creating a dataset, then editing the dataset and deleting the 'public_access_level' field, then selecting the public data listing button and verifying that a data.json is rendered. I also tested by creating an organization with no datasets and verifying that both the public data listing and enterprise data inventory buttons render a data.json file.

this

[2013-12-02 17:19] dwcaraway commented on #55
Currently, tooltips render for each metadata field when creating a dataset using the Add Dataset forms. Screen shot of example tooltip from Access Level Comment below. Does the requested enhancement differ from the current functionality?

![image](https://f.cloud.github.com/assets/1282711/1656627/b9c1916a-5b75-11e3-8f48-35fbf4ab21b8.png)

[2013-12-02 17:35] dwcaraway commented on #11
This issue was fixed a while back.

[2013-12-02 17:35] #11 closed, assigned to nobody

[2013-12-02 17:36] dwcaraway commented on #25
Not an issue. We're not serving files to the public.

[2013-12-02 17:36] #25 closed, assigned to nobody

[2013-12-02 17:37] dwcaraway commented on #13
Agree. Closing.

[2013-12-02 17:37] #13 closed, assigned to nobody

[2013-12-02 17:38] dwcaraway commented on #24
Agree. Closing.

[2013-12-02 17:38] #24 closed, assigned to nobody

[2013-12-02 18:15] cew821 commented on #46
In case I wasn't clear, the schema requires an array for these fields regardless of whether there are two agencies / programs listed.

`{ "bureauCode":"019:20" }` is not valid according to the schema. `{"bureauCode": ["019:20"] }` is valid.

[2013-12-02 18:26] pandyapm commented on #57
Did you try blanks between tags?

[2013-12-02 18:40] dwcaraway commented on #39
confirmed that you can edit datasets in production, however, still get the missing value message.

[2013-12-02 19:11] regongithub commented on #57
If I copy and paste them all in, separated by commas, they do separate into individual tags, albeit not right away. They only appear as separate tags after I've saved the record/dataset.

Sorry, I had posted that comment earlier but it disappeared.
Thanks!

[2013-12-02 19:11] #57 closed, assigned to nobody

[2013-12-04 20:19] dwcaraway opened #59 "Check that Endpoint and Format available/valid for Datasets' data.json files"
We capture download information via Resources in CKAN. This includes download URLs for files and access URLs for APIs, as well as the associated media type.
- Ensure that Format is a valid IANA media type (so that the resulting data.json will validate)
- That if a dataset includes an API, that we populate the webService field. Note that the information will also populate the distribution field, si

[2013-12-04 20:25] dwcaraway commented on #47
Hi Logan,

It is automatically populated...by the last time the metadata was updated. It should be manually entered since the metadata might be updated with updating the dataset or vice versa. Good catch, we'll get it fixed.

-Dave

[2013-12-05 11:51] dwcaraway opened #60 "Omit invalid datasets from Data.json"
Datasets which do not contain the required common core metadata should be omitted from the data.json. Right now, they are populated with defaults or published without the required entry (and thus invalid).

[2013-12-05 13:00] cew821 commented on #60
If this feature gets added, then I would argue it should also fail to save a record that lacks data in those fields, with validation errors.

I don't think it's a good idea to let a user save a record with no problems, but then omit it from the inventory because it lacks some fields. As a user, I would expect the .json file to be a full representation of everything in my catalog, however incomplet

[2013-12-05 13:01] cew821 commented on #60
But I definitely agree it shouldn't add data to a record just to make it pass (i.e. populate with defaults).

[2013-12-05 14:12] dwcaraway opened #61 "Edited datasets should be validated"
The schema is currently turned off on edited datasets. This means that required common core fields can be deleted or given invalid values and saved. This results in the dataset having an invalid data.json entry or being omitted altogether.

The schema was enabled originally to validate during editing but was turned off because it was consistently disallowing valid edits and we didn't/don't know wh

[2013-12-05 14:22] dwcaraway commented on #60
When creating datasets within inventory.data.gov, the dataset will be rejected if required common core metadata is not provided.

After creation, one can currently edit a dataset and add/remove fields as needed -- no validation runs against it (see https://github.com/GSA/enterprise-data-inventory/issues/61).

Likewise, much or all of the validation schema has been turned off for api imports from c

[2013-12-05 19:21] cew821 commented on #60
Got it.

Potentially could we build in your validator logic so that if the JSON generator does reject a record, it at least provides a list of the items not included along with their validation errors?

Also, this is probably old news but so far as I know, the JSON generated by the tool still has a few errors causing it to be "invalid" when run through the schema validators (see #46 and #58).

[2013-12-05 20:36] dwcaraway commented on #60
re: validator logic, nice idea, can run from the JSON schema, though not sure yet the best way to display the errors --- maybe the pdl and edi as a zipped file ...faster download/xmission and could include multiple files, including an error log. thoughts?

[2013-12-05 20:42] cew821 commented on #60
That's a good idea, maybe more elegant and useful than just listing it in a
big notice <div> after running. If it's it's own download you could even
provide it as a JSON or CSV file that would be easy to parse through
visually (or by a computer).

On Thu, Dec 5, 2013 at 3:36 PM, Dave Caraway notifications@github.comwrote:

[2013-12-07 03:28] dwcaraway commented on #51
Fix is in production and appears to be working.

[2013-12-07 03:28] #51 closed, assigned to nobody

[2013-12-09 15:15] gbinal commented on #58
Confirmed.  It seems that a solution would be to 1) change the defaults that are appearing while typing to include the list from the 'text' and 'audio' sections of the article Charles links to; 2) ensure that text that is entered in that field is passed through as is, instead of being cropped down to like Charles describes.

Also, there's a reference immediately below the Format field that says, "

[2013-12-09 15:27] gbinal commented on #53
Thanks for the feedback.  Here's what you need:

There are two settings at issue here.  The one that is editable and which you may need access to is 'accessLevel', which can be set to one of three variables: public, restricted public, and non-public.  That should be editable through a field called 'public_access_level', screenshot below.

There is also a deactivated setting that you can and should

[2013-12-09 15:27] #53 closed, assigned to nobody

[2013-12-09 15:28] dwcaraway commented on #55
Closing this issue because the functionality is already provided. If there is further description functionality needed, please open a new issue.

[2013-12-09 15:28] #55 closed, assigned to nobody

[2013-12-09 15:31] gbinal commented on #45
Believe this was successfully resolved last week so closing.

[2013-12-09 15:31] #45 closed, assigned to nobody

[2013-12-09 15:40] gbinal opened #62 "Correct 2 out-of-date schema fields"
When generating an Enterprise Data Inventory or Public Data Listing, two fields are mislabeled in the schema.  'relatedDocuments' should be 'references' and 'category' should be 'theme'.

![image](https://f.cloud.github.com/assets/633088/1706014/27ec5dc4-60e8-11e3-85ab-cd871d562eb0.png)

[2013-12-09 15:53] gbinal opened #63 "remove unnecessary duplication of accessURL, format in exports"
When a user is generating their Enterprise Data Inventory or Public Data Listing, it would seem that accessURL and format are always successfully accounted for within a
'distribution', however that information is also then duplicated on its own outside of the distribution.  As you see in the below example, the accessUrl and format info outside of the distribution is gratuitous and might be confusi

[2013-12-09 16:04] gbinal opened #64 "formatting of references/theme field should be an array of strings"
It looks like the references and theme fields are passing through their contents as regular, comma-separated text when they should result in an array of strings, instead, per the schema's (further metadata guidance](http://project-open-data.github.io/schema#further-metadata-field-guidance-alphabetical-by-json-field).

Here's an example from an export of an Enterprise Data Inventory:

![image](http

[2013-12-09 16:08] gbinal commented on #59
Just to echo this, it would appear that URLs that are entered as an API (screenshot below) are being included in the json exports via the 'accessURL' field when they instead should be included via the 'webservice' field.

'accessURL' should include resources added through the 'Link to a file' option and 'webservice' should include resources added through the 'Link to an API' option.

![image](http

[2013-12-09 16:17] gbinal opened #65 "Remove confusing and unneeded options from the 'Create Dataset' screen"
Whether by deactivating the functionality, reducing permissions for it to sys-admin users, or commenting it out of the page code, I recommend the following cleanups:

1: The option to customize the URL of the dataset.  It's confused a number of users and seems prone to complicating the workflow unnecessarily.

![image](https://f.cloud.github.com/assets/633088/1706254/74581b04-60ec-11e3-991d-ba0ef0

[2013-12-09 16:39] gbinal opened #66 "Edits to the metadata examples in the 'Create Dataset' experience"
Some edits for the examples that reside in unpopulated fields during the 'Create Dataset' experience:
- For title, description, tags, resource, name, and format - changing eg. to e.g.
- For temporal, simplify the example to: 2000-01-15/2010-01-15
- For Primary Investment UII, change the example to: 021-352204052
- For category and related documents, add a space along with the comma separating each

[2013-12-09 16:48] gbinal opened #67 "Edits to the tooltips during the 'Create Dataset' process"
- Add a tooltip for Public Access Level.  If dropdowns like that can't easily have one, then let's add something like what License has or put in a hyperlinked 'what's this for?' or the like to the right of the field so that people can get guidance on this field.
- Less important, but along the same lines, add a tooltip to Tags, Organization, and Frequency if possible.
- For the tool tip for Releas

[2013-12-09 16:49] gbinal opened #68 "reorder fields on 'Create Dataset' page to better line up with documentation"
If possible, move the Spatial and Temporal fields to below license so that they line up with the ordering in [the documentation on Project Open Data](http://project-open-data.github.io/schema/).

[2013-12-09 17:30] dwcaraway opened #69 "Make EDI and PDL a zipped / validated file"
Instead of downloading the PDL and EDI as a JSON file, make it a zipped file that includes a validation log so that users can see which datasets failed to validate and why.

See also #60

[2013-12-09 17:30] dwcaraway commented on #60
Created a new issue, #69, to capture post creation validation and zipped content. The fix for this issue will just omit datasets if they don't have the required common core fields and log warnings.

[2013-12-09 17:35] #60 closed, assigned to nobody

[2013-12-09 17:37] #62 closed, assigned to nobody

[2013-12-10 02:23] dwcaraway opened #70 "EDI / PDL generation much too slow"
The PDL and EDI generation is requesting all the datasets from the database and looping through them on the server. Improve the query so that only the datasets with owner_org = current org get returned.

[2013-12-11 13:44] dwcaraway commented on #63
This is because the format and accessURL extras were not listed to be filtered out. At the end of producing a data.json, all remaining extras are added on (to handle fields beyond the common core), so these were being added on again.

[2013-12-11 13:51] dwcaraway commented on #64
Added in a string.split(<field>, ',') call

[2013-12-11 14:03] dwcaraway commented on #65
2) and 3) have been removed from displaying on the form at /dataset/new_metadata/<dataset>

[2013-12-11 17:02] dwcaraway opened #71 "Hide Dataset URL"
Some users report that specifying the Dataset URL is distracting, so hide the URL and just generate a URL (random(5000)+<dataset title>)

See ttps://github.com/GSA/enterprise-data-inventory/issues/65

[2013-12-11 17:02] dwcaraway commented on #65
1.) is moved to https://github.com/GSA/enterprise-data-inventory/issues/71

[2013-12-11 17:17] cew821 commented on #71
Seems fine to hide this option from users, but I think letting CKAN pick a human-friendly URL for the dataset in the background rather than a random string might be OK?

[2013-12-11 17:39] #63 closed, assigned to nobody

[2013-12-11 18:47] dwcaraway commented on #34
Unfortunately, the requirement that a dataset have at least once resource is being enforced by CKAN in a way which cannot be overridden by a plugin. see gist at https://gist.github.com/dwcaraway/7916102 . The only code fix for this is to modify CKAN, and I'm pretty sure OKFN will not accept this change back in a pull request.

[2013-12-11 18:48] dwcaraway commented on #34
i should say, okfn will not accept just removing the requirement. we'd have to modify the ckan source so that the behavior can be overridden, possibly through config file

[2013-12-12 17:40] gbinal opened #72 "host agency logos that are currently in use"

[2013-12-12 17:59] pandyapm commented on #72
Please note that the current external links for images can be risky, open for defacing

[2013-12-12 19:10] gbinal commented on #72
Agreed- plus hotlinking, even from friendly websites, is just a bad habit after all.

With our next code push, we should just host [each of these PNGs](https://github.com/kinlane/federal-government/tree/gh-pages/images/logos) along with this newer image for NIST.

![nistident_cent_200ppi_blue](https://f.cloud.github.com/assets/633088/1736186/029665c6-6361-11e3-8ce5-2f18dc1d88c1.jpg)

[2013-12-13 22:22] emakred opened #73 "Public Data Listing download"
When I click the button to download my agency's (organization's) PDL, it thinks for a while, then goes to a page with just:

[]

I've tried at least 10 times, on multiple browsers and am getting consistent results.  We should have 45 public datasets in the inventory, so I'm not sure what is happening.

In the past (right around Nov 30), it also didn't create the inventory on the first button click

[2013-12-13 22:34] cew821 commented on #70
I'd be happy to take a look at the query and or code you're using here. Something is definitely broken. It takes 60+ seconds to generate the listing for DOE and we only have 16 datasets!

[2013-12-13 22:35] cew821 commented on #73
I just tried with DOE, and it takes a very long time but it eventually does work. Erin, does it take a long time before it goes to the [] page, or does that happen right away?

[2013-12-13 22:35] emakred commented on #73
takes a long time

[2013-12-13 22:37] cew821 commented on #73
In that case it's probably related to #70.

[2013-12-13 22:37] dwcaraway commented on #70
sure charles, that'd be great. it's in the datajson extension. i won't have
time to get to it until next week.

On Dec 13, 2013, at 5:34 PM, Charles Worthignton notifications@github.com
wrote:

I'd be happy to take a look at the query and or code you're using here.
Something is definitely broken. It takes 60+ seconds to generate the
listing for DOE and we only have 16 datasets!

—
Reply to this em

[2013-12-13 22:40] emakred commented on #73
the slowness is one thing, but the fact that its giving me an empty dataset when I know there 93 total (45 public) is my bigger concern

![capture](https://f.cloud.github.com/assets/5290116/1746718/71a71e06-6447-11e3-9e77-493e68ee3564.JPG)

[2013-12-13 22:43] cew821 commented on #70
Not sure I will either, but will try to dive in on the early side of next week. Will update here if I do.

[2013-12-17 14:25] dwcaraway commented on #70
I'm working on the query now.

[2013-12-17 18:06] dwcaraway commented on #23
Closing, as we don't support storing data files in inventory.

[2013-12-17 18:06] #23 closed, assigned to nobody

[2013-12-17 22:50] cew821 opened #74 "Need Ability to "Bulk Import" Dataset Records into Inventory"
There should be a way to bulk import datasets into the inventory.

The system should be capable of importing JSON files that conform to the Common Core schema, at a minimum. This would solve Issue #26.

It would also be good to be able to import a CSV file with the proper metadata fields as a header row, to accommodate agency data inventory efforts using some kind of a form or excel-template solut

[2013-12-17 22:51] cew821 commented on #74
@dwcaraway sorry I didn't realize this had never been added as an issue. cc/ @gbinal

[2013-12-18 14:35] gbinal opened #75 "remove unneeded 'private'"
There's an unneeded and confusing 'private' button that we should hide.  It exists on the organization page and on the individual dataset page.

On the organization page:

![image](https://f.cloud.github.com/assets/633088/1773919/705c3498-67f1-11e3-88b3-f8dcfe58faf3.png)

And on the dataset page:

![image](https://f.cloud.github.com/assets/633088/1773912/5aa8ed6c-67f1-11e3-9ac8-440c89cd4007.png)

[2013-12-18 14:38] gbinal opened #76 "push a db update to change all entries from 'published' to 'private'"
It's a legacy setting which is sometimes set to 'published' for the datasets that were imported from catalog.data.gov, but which need to be marked 'private'

[2013-12-18 18:29] pandyapm opened #77 "Need expanded custom fields to accomodate scientific metadata"
We are plannning to expand our metadata (as per OMB-13-13) for the sceintific datasets. How can I increase the custom fields?

[2013-12-19 19:20] gbinal commented on #77
Hi Pradip,

I believe your user role has an elementary way of doing this by going to your organization page, clicking on the admin button in the top right, then using the 'custom fields' section (screenshot below).  We haven't tested this functionality for agency use yet and my guess would be that new fields would appear on the last page of the dataset creation page, which definitely isn't optimal

[2013-12-19 19:44] gbinal commented on #74
Thanks, Charles.  To update you, we should now that ability and are planning to complete your json upload this afternoon.  The main characteristics right now are that the file must follow Common Core Schema, and also must make use of distributions consistent for each record (i.e. either not using distributions at all or only using them).  This is a problem that we're going to try and tackle soon b

[2013-12-19 19:56] pandyapm commented on #77
I tried adding more custom fields as you mentioned in the Dataset Edit and it did let me add more fields as I started typing in the last row. Earlier I was not sure doing this to our production datasets.

[2013-12-19 19:56] #77 closed, assigned to nobody

[2013-12-19 19:57] gbinal commented on #73
Hi folks,

Real quickly, on the speed issue, Charles, you're right and that edit is on track for the next code push, so things should be a lot faster.

To your main point, there's an unpublished update that's at issue here and that we're trying to resolve by Christmas.  Last week's updates included an edit that had an unforeseen result - datasets that didn't validate were not included in the expor

[2013-12-19 20:26] gbinal opened #78 "remove the social networking buttons"
There are no use cases for people using these so it'd be cleaner to hide these from the individual datasets pages.

![image](https://f.cloud.github.com/assets/633088/1785899/e281e478-68eb-11e3-863e-4db9b3ab7744.png)

[2013-12-19 20:30] gbinal commented on #36
My suggestion would be to hide the description areas underneath the logos on the left side of organization pages.  Here's another example:

![image](https://f.cloud.github.com/assets/633088/1785947/6a2f83ee-68ec-11e3-9d92-2ca7cab8875a.png)

[2013-12-19 20:37] gbinal commented on #36
Also, there's one other place where users arrive at this same 404: through the 'About' link in the top center of each organization page (screenshot below).

One option would be to comment out these links in the template, but it may be easiest to instead always redirect each `/organization/about/name-of-organization' page back to its equivalent '/organization/name-of-organization' page.  Either sol

[2013-12-20 18:05] dwcaraway commented on #70
fixed. this is in production -- pdl / edi generation is much faster. see test org at http://inventory.data.gov/organization/testorg

[2013-12-20 18:05] #70 closed, assigned to nobody

[2013-12-20 18:27] dwcaraway commented on #69
this is a top priority

[2013-12-20 18:27] dwcaraway commented on #73
fix #70 went into production on Tuesday that greatly speeds up the PDL  / EDI construction.  As to it being empty, it's because the datasets are missing a required common core field...most of the time, it's because they don't have any tags (in pod schema, keywords), which are required. will implement a change for the update next week that downloads the EDI / PDL in a zip file along with error log

[2013-12-20 20:56] cew821 commented on #70
Nice!

[2013-12-25 01:08] dwcaraway commented on #73
#69 is implemented and will roll out to production later this week or early next week.

[2013-12-30 15:32] gbinal commented on #72
This is mostly complete.  I've updated logo links to these - https://github.com/gsa/logo.

The NIST logo is still the original and not the one referenced above.  Overwriting the nist.png file with the above would address that.  @dwcaraway - could you do that when you've a second?

[2013-12-30 18:26] gbinal opened #79 "Remove options to bulk edit public/private setting"
At http://inventory.data.gov/organization/bulk_process/agency_abbreviation.  Not  a problem, but worth being aware of.

[2013-12-30 18:27] gbinal commented on #76
Note that we can actually do this ourselves, pretty easily, using this:

https://github.com/GSA/enterprise-data-inventory/issues/79

[2013-12-30 19:00] dwcaraway commented on #72
should be done now

[2013-12-30 19:28] gbinal commented on #72
Great!  Thanks,  Dave.  Closing issue.

[2013-12-30 19:28] #72 closed, assigned to nobody

[2014-01-09 13:16] dwcaraway commented on #73
This is in production. Closing the issue.

[2014-01-09 13:16] #73 closed, assigned to nobody

[2014-01-09 13:17] dwcaraway commented on #69
This is in production. Closing.

[2014-01-09 13:17] #69 closed, assigned to nobody

[2014-01-17 06:55] #75 closed, assigned to nobody

[2014-01-17 22:19] gbinal opened #80 "Edit the Internal Server Error Message"
We know that there is an elusive problem that is causing most users to hit the following error message.

Can we see where that text is maintained and modify it to instead say:

If we can edit that, it'll go a really long way to improving the broader user experience.

![image](https://f.cloud.github.com/assets/633088/1944955/75713754-7fc4-11e3-9877-8717e4e28fa4.png)

[2014-01-17 22:19] gbinal commented on #80
Adding the Quick Fix label in hopes that it is just that.  :)

[2014-01-27 20:03] dwcaraway commented on #58
the UI just makes a call to an API to populate the dropdown. I'll modify the usmetadata plugin to have an API endpoint that returns a JSON data structure with all the valid media types to populate the dropdown.

[2014-01-27 22:23] gbinal opened #81 "hide legacy dataset counters that cause confusion (or change what it displays)"
Given the successful fix for Issue #75 and #76, there's a strong potential for confusion now with the agency users wondering why their agency is sometimes shown as having "0 datasets".  This will be the case not just when they look at other organizations but also when they regard their own.  There are two locations where this will be a problem and I think there are two ways to address the problem,

[2014-01-27 22:35] gbinal commented on #76
This is now done.

[2014-01-27 22:35] #76 closed, assigned to nobody

[2014-01-27 22:36] gbinal commented on #79
Am closing this as it's not really an issue.

[2014-01-28 05:17] dwcaraway commented on #58
The format conversion comes from ckan core:  ckan>lib>dictization>[model_dictize.py](https://gist.github.com/dwcaraway/8662633)

[2014-01-28 05:22] dwcaraway commented on #58
this issue is fixed, will close after the fix goes to production

[2014-02-03 14:29] dwcaraway commented on #34
This has been deployed to production.

[2014-02-03 14:29] #34 closed, assigned to nobody

[2014-02-03 18:02] dwcaraway commented on #44
this issue is still open, the edi.json files need to be behind authentication and group access control.

[2014-02-04 16:16] gbinal commented on #65
Closing since this was addressed 2 months ago.

[2014-02-04 16:16] #65 closed, assigned to nobody

[2014-02-04 16:28] gbinal opened #82 "Validator is incorrectly blocking all records"
It appears that when an agency tries to generate the Enterprise Inventory or Public Listing, they consistently receive just the error report with no json file.  When reviewing the results, I believe that this is because the validator is customized for reviewing the end product json file and not the content that is in the fields.

For instance, a user would correctly input a string like `010:045` f

[2014-02-04 16:33] gbinal commented on #64
@dwcaraway - Do you know if we can close this?  I can't tell because of #82.

If you think it's addressed, game to close it?

[2014-02-04 16:38] gbinal commented on #46
@dwcaraway  - along with #64, do you know if this one was already addressed?

[2014-02-04 16:40] gbinal commented on #41
FWIW, #80 is meant to ameliorate this issue in the interim.

[2014-02-04 18:20] gbinal commented on #82
So far, I've also confirmed this for the Language, Bureau Code, Data Quality fields.  I fear that it's going to be the case consistently with more fields (e.g. category, related documents, and tags), but I can't test because the MIME type problem is getting hit by the validator first.  After that fix pushes, I'll be able to try again but this is an urgent problem.

[2014-02-05 00:07] gbinal opened #83 "allow for other acceptable temporal and modified values"
Per POD's issue [#262](https://github.com/project-open-data/project-open-data.github.io/pull/262)

[2014-02-06 19:04] dwcaraway commented on #64
Yup the fix made here is in production and i'll be applying it to #82

[2014-02-06 19:04] #64 closed, assigned to nobody

[2014-02-06 19:05] dwcaraway commented on #82
I'll split the strings to an array for programCode, bureauCode, theme, references and language. Is that about it? Data Quality has (0, 1) cardinality so shouldn't be impacted.

[2014-02-06 20:27] dwcaraway commented on #82
k, the fix seems to be working. note that the front end validation during dataset creation doesn't allow the user to enter more than 1 bureau or program code, so I just edited the field value after creation:

Sample public data listing output below

  {
    "title": "test22234234",
    "description": "testtesttest",
    "keyword": [
      "economy",
      "mental health"
    ],
    "modified": "20

[2014-02-07 04:45] dwcaraway commented on #46
this was addressed by the fix to #82. closing

[2014-02-07 04:45] #46 closed, assigned to nobody

[2014-02-12 19:57] ErieMeyer commented on #74
Hi team! Any update on this item?

[2014-02-12 20:27] dwcaraway commented on #58
Closing, this is in production.

[2014-02-12 20:27] #58 closed, assigned to nobody

[2014-02-12 20:28] dwcaraway commented on #82
This fix is in staging and will close the issue when it goes to production

[2014-02-12 21:24] dwcaraway commented on #74
i haven't worked on json/csv upload yet. we have performed bulk import
using the ckan api.

On Feb 12, 2014, at 2:57 PM, Erie Meyer notifications@github.com wrote:

Hi team! Any update on this item?

##

Reply to this email directly or view it on
GitHubhttps://github.com/GSA/enterprise-data-inventory/issues/74#issuecomment-34910181
.

[2014-02-14 16:04] bletalien commented on #82
It's looking a lot better, but it's still choking on data quality -- assuming this is the same problem. All I did was check the box and I got the following; tried replacing "on" with "true" and still got the same error:

2014-02-14 11:01:15,335 - Validation failed, best guess of error = u'on' is not of type u'boolean'

Failed validating u'type' in schema[u'properties'][u'dataQuality']:
    {u'desc

[2014-02-18 14:59] cew821 opened #84 "Improve Error Message re: Non-Unique Keywords"
The error message generated when non-unique keywords are found in an array should tell the user which keywords are duplicates. This would help the user fix the error without needing to find another tool to de-dupe the list.

![image](https://f.cloud.github.com/assets/1237498/2196295/f4ed86b2-98ac-11e3-9315-fced4cab0f5e.png)

[2014-02-20 20:42] kvuppala commented on #80
this is being coordinated with infrastructure provider.

[2014-02-21 14:00] gbinal commented on #82
Hi Bethany.  I've rerun your exports and it appears that this is good now - all of the entries, including this one, are in the export.

I believe we can close this issue now.

[2014-02-21 14:00] #82 closed, assigned to nobody

[2014-02-21 14:24] dwcaraway commented on #80
Underlying framework is Pylons, so may be able to control using error handler http://docs.pylonsproject.org/projects/pylons-webframework/en/latest/debugging.html

[2014-02-21 14:35] bletalien commented on #82
Great! Thanks.

[2014-02-24 20:30] gbinal opened #85 "change export filenames and format"
When the error reports began being included in a zip with the enterprise data inventory or public data listing, something else changed.  The catalog file is now named `datajson.txt`, requiring users to change it each time to `data.json`.  It would be better if the export was spit out as with the filename of `data.json` by default instead.

[2014-02-24 21:45] gbinal opened #86 "Capitalization shouldn't break validation"
For the few metadata fields that only allow certain very specific entries, the validation is sometimes breaking if something is capitalized when it shouldn't be or the other way around.

At issue are the accesslevel, dataQuality, and accrualPeriodicity fields.

[2014-02-24 21:46] gbinal opened #87 "validation report sometimes doesn't provide enough context"
If a report isn't generating because of missing fields, the validation report just has entries like this, which don't say what specifically is wrong.

It would be helpful if they included a mention of what field was missing to trigger the omission.

[code]

[2014-02-25 20:07] cew821 opened #88 "Keywords should be allowed to contain "&" and other special characters"
Currently, you can't enter "R&D" as a keyword, because it contains an ampersand "&". The tool should be able to properly escape special characters, and should allow them.

![image](https://f.cloud.github.com/assets/1237498/2262280/2c0312f6-9e58-11e3-9d87-b779c5fa5dff.png)

[2014-02-27 14:58] ykhadilkar commented on #36
This issue is resolved in my local environment. Will fixed in production with next production deployment.

[2014-02-28 15:39] dinali commented on #74
How do you do the bulk update using the ckan api? I tried the CKAN API link on the bottom of the page http://inventory.data.gov/organization/ers-usda-gov and it says "Sorry, the page does not exist" http://docs.ckan.org/en/latest/api.html We have over 100 datasets to correct and there's no way we can do this without a bulk load feature. Please provide the link, thanks!

[2014-02-28 15:51] dinali commented on #87
Maybe this issue has been closed? When you click the Enterprise Data Listing or Public Data Listing buttons, two files are generated. One is the errorlist.txt file which contains the verbose error description, it contains the validators best guess as to what triggered the exception, The other file datajson.txt appears to be the datasets that passed validation. A contractor sent me the succint erro

[2014-02-28 17:22] dinali opened #89 "image/png and text/html not acceptable?"
Hi, I'm getting a strange error: Validation failed, best guess of error = u'PNG, HTML' does not match

for the resource format field, but when I checked what I entered using the EDIT feature, it's image/png, not PNG, HTML.

Similar  problem with text/html.

[2014-02-28 17:32] dinali opened #90 "dataQuality errors"
Hi, I am having trouble validating the dataQuality field. In some cases, I found data_Quality: on, I changed that to dataQuality : true. Sometimes that has resolved the error.

In other cases, even after deleting the field completely, I still get this error: Validation failed, best guess of error = u'on' is not of type u'boolean'
Failed validating u'type' in schema[u'properties'][u'dataQuality']:

[2014-02-28 19:14] dinali opened #91 "how to create a draft dataset without having it included in the harvest"
If I create a test / draft dataset, is there a way to flag it so it's not swept up by the harvester?

[2014-02-28 20:15] dinali opened #92 "Add Decennial for Periodicity"
We have a dataset that is updated on a decennial basis, it fails validation because that's not an option. Can you add it?

[2014-02-28 20:31] dinali opened #93 "Spatial: Global?"
Is spatial: Global correct? International? I looked at the links provided in the schema but only saw individual country names.

[2014-03-03 03:28] ykhadilkar opened #94 "Release Date value not retained on dataset creation page"
Release date value on dataset creation page gets erased if user goes back to "Create Dataset" page from "Add Data" page.

[2014-03-03 17:37] ykhadilkar commented on #80
I have updated production.ini file to display the above message for now. I will look in to implementing different solution based on dave's suggestion in next release.

[2014-03-04 22:52] kvuppala commented on #61
moving to next release, if we enable validation on edit, other parts of inventory are breaking.

[2014-03-04 22:55] kvuppala commented on #80
we updated the message as suggested, but we may not see that message anymore, which is a good thing.

There were some firewall changes done to resolve the root issue of connections being dropped, please comment if anyone notices the internal server again.

[2014-03-10 13:16] kvuppala commented on #94
this should be resolve now in inventory.data.gov

[2014-03-10 13:16] #94 closed, assigned to ykhadilkar

[2014-03-10 13:19] kvuppala commented on #80
seems like internal server issue is completely resolved

[2014-03-10 13:19] #80 closed, assigned to kvuppala

[2014-03-10 13:22] kvuppala commented on #36
it is live in production.

[2014-03-10 13:22] #36 closed, assigned to nobody

[2014-03-10 13:28] kvuppala commented on #49
"Edit Dataset" page now in same format as the "Add Dataset" page.

[2014-03-10 13:28] #49 closed, assigned to nobody

[2014-03-10 18:34] regongithub commented on #92
I question the use of the DCCDAccrualPeriodicity for the accepted values of this element as it was only a working draft and doesn't appear to have been revisited since it's introduction in 2004. In some instances the only value that could fit my data is "completely irregular" which sounds odd and can be inaccurate. I'm glad to see that populating that field is no longer required.

[2014-03-10 18:38] regongithub commented on #90
I've encountered that problem. I got the error:
2014-03-10 11:15:59,983 - Validation failed, best guess of error = u'true' is not of type u'boolean'

[2014-03-10 18:39] regongithub commented on #90
I also got:
2014-03-10 11:15:59,990 - Validation failed, best guess of error = u'on' is not of type u'boolean'. Why are these errors being created when the value is being generated by CKAN? These values are populated by checkboxes.

[2014-03-10 19:54] regongithub opened #95 "Custom fields?"
Previously there was a way to add a custom field. What happened to that? We need to add two fields specific to our Standard Reference Data sets.

[2014-03-10 20:06] regongithub opened #96 "modified / Last Update"
The Project Open Data Schema states the "modified" field should describe "Most recent date on which the dataset was changed, updated or modified." But there is no field to enter that date. Rather, that field is being automatically generated by CKAN and reflects the date the record itself was modified.

[2014-03-11 13:01] pandyapm commented on #95
I had opened this issue before (#77) and work around was to add custom fields in the Organization. It used to add fields automatically when you type the last values in the last field. Now it has fixed 3 custom fields only.

[2014-03-12 17:36] ykhadilkar commented on #71
This is fixed in development environment.  Priya please test.

[2014-03-13 16:07] ykhadilkar opened #97 "Inventory dataset page don’t have a field for ‘Last Modified Date'."
Need to add this to Core or Expanded Core fields per POD schema.

[2014-03-13 16:08] ykhadilkar opened #98 "License field breaks on edit dataset page"
‘License’ fields works fine when creating a new dataset. But it breaks when editing a exiting one. Value will be lost when you edit and save.

[2014-03-13 16:17] ykhadilkar opened #99 "Dataset creation and edit page validation of core fields"
Currently validation for title, description and tag does not work. Also Contact Name, Contact Email and Unique Id fields are not highlighted in case of validation error

[2014-03-13 17:31] ykhadilkar commented on #99
Done in dev.

[2014-03-13 17:43] kvuppala commented on #97
This is to capture the "modified" (Last Update) field from POD schema common core required field - http://project-open-data.github.io/schema/

[2014-03-13 21:13] ykhadilkar commented on #81
If we display total datasets (i.e. public + private) ... it can be confusing to anonymous users who is not able to see private datasets.

Can we may be update label to "Published Datasets" instead of "Datasets"

![screen_shot_2014-03-13_at_5_10_36_pm](https://f.cloud.github.com/assets/3237208/2415357/3e3d9998-aaf4-11e3-81bd-53fb58d92e80.jpg)
![screen_shot_2014-03-13_at_5_10_10_pm](https://f.cloud.

[2014-03-13 21:18] gbinal commented on #93
Global is acceptable, as is Earth.

[2014-03-13 21:18] #93 closed, assigned to nobody

[2014-03-13 21:21] gbinal commented on #92
Moved this to the Open Data Policy issues - https://github.com/project-open-data/project-open-data.github.io/issues/292

[2014-03-13 21:21] #92 closed, assigned to nobody

[2014-03-13 21:25] ykhadilkar commented on #98
Fixed in Dev. Priya please check.

[2014-03-13 21:27] ykhadilkar commented on #61
This is fixed in Dev. Priya please test.

[2014-03-13 21:28] gbinal commented on #91
Right now, there's no ability to do draft entries, but for a workaround, we can set up a staging org for you that you can move datasets between.

[2014-03-13 21:29] gbinal commented on #89
User resolved.

[2014-03-13 21:29] #89 closed, assigned to nobody

[2014-03-13 21:32] gbinal commented on #90
Not sure what's up but will try to fix.  Can you email me an example entry that is doing this?

[2014-03-13 21:43] gbinal opened #100 "bureaucode and programcode should be required on creation/edit"
Since all users for this are federal agencies and bc/pc are required for them.

[2014-03-13 21:53] cew821 commented on #86
I think it's reasonable to require specificly capitalized strings where there are only a set number of valid entries (enums). It would be nice if the tool itself accepted multiple capitalizations but only saved the proper one, but I'm not sure this is a bug. On the user side of the inventory it's easier to parse the json if you don't have to account for multiple possible capitalizations.

[2014-03-13 22:06] ykhadilkar commented on #100
Currently these fields are under "Required-If-Applicable Common Core Metadata" section, should we move these under "Required Common Core Metadata" section?

[2014-03-14 15:32] dinali opened #101 "Improvement: validation should happen during data entry"
Current process: users enter the meta data for a dataset, then click on "Enterprise..." or :"Public...", then download and open the file and examine the errors, then go back to CKAN to correct them.

Improvement: It would save a lot of time if CKAN could do the schema validation while the user is entering data and notify the user immediately before submitting.

Additional idea: Building in more dr

[2014-03-17 13:48] ykhadilkar commented on #81
As discussed removed "Datasets" label from both pages. Deployed in Dev. Priya please test.

[2014-03-17 20:00] ykhadilkar commented on #97
Deployed in DEV. Priya please test.

[2014-03-18 19:33] ykhadilkar opened #102 "Last Update field not validated"
Last Update field on dataset creation and edit page is not validated.

[2014-03-18 19:33] ykhadilkar commented on #102
API import was failing when this field is validated. Need to debug and resolve that issue before turning validation back on.

[2014-03-18 19:39] ykhadilkar opened #103 "User friendly Labels on dataset page"
Need to display user friendly labels for Common core metadata fields. For example display "Contact Email" instead of "contact_email"
![screen_shot_2014-03-18_at_3_35_52_pm](https://f.cloud.github.com/assets/3237208/2452704/c25c2832-aed4-11e3-9894-affc008ec4cd.jpg)

[2014-03-19 13:23] gbinal commented on #103
:+1:

We should be sure to use the 'labels' listed on [Project Open Data](http://project-open-data.github.io/schema/).

[2014-03-19 14:52] ykhadilkar opened #104 "Few fields are missing from Common Core Metadata Schema"
Following fields missing from **“Common Core” Required-if-Applicable Fields**
- Download URL
- Endpoint
- Format

Missing from **Expanded Fields**
- Distribution

[2014-03-19 14:54] ykhadilkar commented on #103
Yep, we will use all the labels from open data schema.

[2014-03-19 18:13] dinali opened #105 "Sort Datasets Correctly"
Inventory.data.gov has a sort feature that is supposed to sort the datasets by name. It does not appear to work correctly. The datasets are not sorted by title. For example, for USDA ERS, the first dataset listed is "Creative Class County Codes" when is should be datasets that begin with "A" such as Adoption of Genetically Engineered Crops".

[2014-03-20 18:08] ykhadilkar opened #106 "Data Quality field value"
**Data quality** field value is stored as On or Off instead of Boolean true / false. This is in turn breaking data.json export. As far as I can tell since all fields are stored as key/value pair in CKAN it is not possible to store boolean value for **Data quality**.

One option is to update datajson extension to accept **On** as valid value for Data quality.

[2014-03-20 18:17] kvuppala commented on #106
Even if the client API pushes the data with true/false boolean fields, the current extension is storing them as string "true"/"false", the values are breaking the validation when the data.json is generated.

[2014-03-24 15:52] ykhadilkar commented on #106
Fixed on Dev

[2014-03-24 16:19] kvuppala commented on #104
The above fields are available under the "Data and Resources" section.
Both Download URL and Endpoint are available as data resources.

The only caveat in importing data from external json to inventory is that, when distribution array is available that will processed, values provided in "Download URL", "Endpoint" and "Format" at the root common core required if applicable fields will be ignore as

[2014-03-24 16:19] #104 closed, assigned to nobody

[2014-03-27 16:58] philipashlock commented on #43
Just got pinged about this separately. We need to do this ASAP. Very simple fix, eg https://wiki.apache.org/httpd/RewriteHTTPToHTTPS

[2014-03-28 14:13] kvuppala commented on #43
This is address in last night release.

[2014-03-28 14:13] #43 closed, assigned to nobody

[2014-03-28 14:41] kvuppala opened #107 "Data Quality field as a dropdown instead of checkbox"
Change the Data Quality field as Dropdown with the below values
1. Blank (Default)
2. True
3. False

When Blank is selected, in the output the dataQuality key should not be included.

Also migrate the existing dataset data quality field values to the above.

[2014-04-03 22:20] cew821 opened #108 "500 Error Message When trying to access a specific dataset"
Hi Team:

When I try to edit this dataset: https://inventory.data.gov/dataset/california-household-transportation-survey-1394658246

I get a 500 error. Refresh does not work.

![image](https://cloud.githubusercontent.com/assets/1237498/2609961/267500ae-bb7e-11e3-8f75-866137af8830.png)

[2014-04-04 20:31] dinali opened #109 "Topics dropdown should be included"
Since the datasets are classified by Topics, CKAN should include required fields for one (or multiple) Topic areas. Users could select from a picklist. For example, Climate Change, Agriculture. As new Topics are added, the picklist could be updated. Data Stewards could edit the existing datasets by tagging them with the new Topics. This is different from relying on the uncontrolled vocabulary of t

[2014-04-07 13:23] kvuppala commented on #106
This is complete now.

[2014-04-07 13:23] #106 closed, assigned to PJain-REISys

[2014-04-07 13:24] kvuppala commented on #103
the change is complete

[2014-04-07 13:24] #103 closed, assigned to PJain-REISys

[2014-04-07 13:24] kvuppala commented on #99
validation are in place now.

[2014-04-07 13:24] #99 closed, assigned to PJain-REISys

[2014-04-07 13:25] kvuppala commented on #98
license value now being stored correctly.

[2014-04-07 13:25] #98 closed, assigned to PJain-REISys

[2014-04-07 13:25] kvuppala commented on #97
new fields are added to dataset page.

[2014-04-07 13:25] #97 closed, assigned to PJain-REISys

[2014-04-07 13:26] kvuppala commented on #81
this is complete now.

[2014-04-07 13:26] #81 closed, assigned to PJain-REISys

[2014-04-07 13:26] kvuppala commented on #71
this is fixed now.

[2014-04-07 13:26] #71 closed, assigned to PJain-REISys

[2014-04-07 13:27] kvuppala commented on #61
validation are in place now.

[2014-04-07 13:27] #61 closed, assigned to PJain-REISys

[2014-04-08 15:01] kvuppala commented on #74
bulk upload through json file is available through client, recently was tested with energy json file upload to inventory.

[2014-04-08 15:01] #74 closed, assigned to nobody

[2014-04-11 00:33] #107 closed, assigned to PJain-REISys

[2014-04-11 00:33] dialsunny commented on #107
completed

[2014-04-11 00:35] dialsunny commented on #59
Format field is being validated now if Resource field has a URL. Closing.

[2014-04-11 00:35] #59 closed, assigned to nobody

[2014-04-11 16:42] cew821 commented on #108
I'm no longer getting this error, so closing this issue.

[2014-04-11 16:42] #108 closed, assigned to nobody

[2014-04-11 16:45] cew821 opened #110 "Data.gov Harvester incorrectly thinks this URL is invalid"
(from this dataset: https://inventory.data.gov/dataset/international-energy-outlook-table-browser-1396648824)

The accessURL in the distribution is: http://www.eia.gov/oiaf/aeo/tablebrowser/#release=IEO2013&subject=0-IEO2013&table=1-IEO2013ion=0-0&cases=Reference-d041117

I believe this is a valid URL (or at least it works in the browsers I have tested). However when trying to harvest this dataset

[2014-04-11 16:59] gbinal commented on #110
Thanks, Charles - We noticed that from another agency and [opened an issue for it](https://github.com/GSA/ckanext-datajson/issues/4) this week.

Closing this issue to focus there.

[2014-04-11 16:59] #110 closed, assigned to nobody

[2014-04-14 14:28] gbinal opened #111 "seemingly valid exports aren't including using up-to-date schema"
With certain organizations, such as [this](https://inventory.data.gov/organization/fsa-usda-gov), when I choose to export a public data listing, I receive a datajson file and no error log but the resulting schema is impaired.  For example, bureauCode and programCode lack their brackets:

![image](https://cloud.githubusercontent.com/assets/633088/2696264/c58aa42c-c3e0-11e3-87e2-6d84e635f04c.png)

C

[2014-04-14 14:30] gbinal commented on #85
Though non-critical, this is a consistent enough bug that we should prioritize it for correction.

[2014-04-15 16:13] kvuppala commented on #39
with the recent changes to Edit page, now there are no custom fields on the edit page, it is similar to create page with custom field label and values.  It is not an issue anymore, and closing it.

[2014-04-15 16:13] #39 closed, assigned to nobody

[2014-04-18 19:58] cew821 opened #112 "Inventory includes duplicate records for the 4-5 most recently modified records"
Just noticed this today -- these duplicates were not here when I was editing inventory on Wednesday. I will manually delete the duplicates, but thought I should file this since the behavior seems very strange

![image](https://cloud.githubusercontent.com/assets/1237498/2745287/af22bd90-c733-11e3-9330-8bf5fb2f2b2e.png)

[2014-04-18 20:01] gbinal commented on #112
Drats - someone else mentioned this earlier this week but wasn't able to replicate.  I'm going to see about prioritizing this for the current code push, but in the meantime, I believe that this is a sort of caching issue, that your exports should still reflect the correct records, and that the dups go away after a short period of time.  Not much consolation the short time but some help.

[2014-04-18 20:07] cew821 commented on #112
Actually, it appears they are not really duplicates: the URLs go to the same place. But for some reason, they appear in the list twice, and seem to impact the dataset number count.

The duplicates **do not** appear in the data.json file generated by the tool

[2014-04-18 21:46] kvuppala commented on #112
It doesn't seem to happen on all entries, only the ones recently created seem to be affected.  Will look further on whats causing this.

[2014-04-21 13:26] kvuppala commented on #111
This was the data issue in the old imported records in inventory, the keysin inventory should be bureau_code, program_code.  It is fixed now for all the records in inventory.

[2014-04-21 13:26] #111 closed, assigned to FuhuXia

[2014-04-21 15:53] jerry135 opened #113 "duplicate datasets"
duplicate datasets appearing.  last week, datasets kept deleting when trying to set to public

[2014-04-24 17:40] kvuppala commented on #113
We are using
ckan search-index rebuild
Instead of
(virtualenv)# paster --plugin=ckan search-index rebuild -c /path/to/production.ini

The ckan command is supposed to figure out the virtual env and config path. It obviously does not work well with newer core, and creates the duplicate issue after solr reindex, even for a vanilla ckan installation. For now, we can go back to the original paster comm

[2014-04-24 19:17] gbinal commented on #113
Issue #112 covers this, so closing this one.  REI - please share further updates on #112.

[2014-04-24 19:17] #113 closed, assigned to nobody

[2014-04-25 00:37] kvuppala commented on #112
issue is resolved now in live site, more info on the issue and resolution below.

We were using the below for solr index rebuild
ckan search-index rebuild
Instead of
(virtualenv)# paster --plugin=ckan search-index rebuild -c /path/to/production.ini

The ckan command is supposed to figure out the virtual env and config path. It obviously does not work well with newer core, and creates the duplicate

[2014-04-25 00:39] kvuppala commented on #112
@cew821 I have made all the 301 datasets public (ckan flag), not the public_access_level flag.  Let us know if something should change.

[2014-04-25 00:39] #112 closed, assigned to nobody

[2014-04-25 00:40] kvuppala commented on #85
now the file name is changed to data.json, and it is in live site.

[2014-04-25 00:40] #85 closed, assigned to ydave-reisys

[2014-04-25 03:35] cew821 commented on #112
@kvuppala Can you clarify what this public CKAN flag means, and how it relates to this duplicate problem? I am not clear on that.

[2014-04-25 13:13] kvuppala commented on #112
@cew821 duplicate problem is not related to public CKAN flag, it was caused by the way the data was fully indexed in solr last time, with paster command solr reindex the duplicate issue is resolved.

The public/private CKAN flag only affects what is displayed on the dataset page for the users on inventory.

[2014-04-25 13:52] cew821 commented on #112
@kvuppala ok thanks. In that case yes, all of the datasets in our inventory should appear as "public" to DOE users of inventory.

[2014-04-28 12:34] jerry135 opened #114 "Dataset deletes when I try to make "public" as opposed to "private""

[2014-05-05 21:14] kvuppala opened #115 "combine inventory and datastore features"
combine inventory and datastore features, migrate existing interactive datasets.

[2014-05-08 21:27] bletalien opened #116 "Microsoft apostrophes cause "server error""
I've encountered this problem in copying text into the description field. Provide a more accurate error message or accept these characters.

[2014-05-09 13:46] philipashlock commented on #79
Reopening since this has been a recurring source of confusion and will be critical to address should the site come out from behind the firewall.

I propose that we simply remove the buttons for "Make Public" and "Make Private" but leave everything else functional since the ability to bulk "Delete" is still useful.

[2014-05-13 20:46] philipashlock commented on #41
Here's an error reported today that looks like it might've been caused by validation problems in the form submission for a new dataset. We'll analyze the server error logs to see if we can pinpoint the specific cause of this incident.

![image003](https://cloud.githubusercontent.com/assets/183402/2963792/38bdc0a4-dadf-11e3-85b5-f9baf3e27072.png)

[2014-05-13 20:51] kvuppala commented on #41
can we get the sample data entered in the form, we will see if we can get more info from the logs.

[2014-05-14 18:20] ykhadilkar commented on #41
I see couple of Unicode encode errors in yesterdays logs at 14:37

[code]

These characters are probably in URLs.

[2014-06-02 14:43] kvuppala commented on #79
If we remove the suggested buttons, there wont be a way to mark the datasets as public for visibility in inventory UI.  Currently by default the datasets are created with private visibility.

[2014-06-02 14:45] kvuppala commented on #116
This issue is resolved now, the characters are accepted.

[2014-06-02 14:47] #116 closed, assigned to nobody

[2014-06-04 13:26] gbinal commented on #79
I agree with Phil.

[2014-06-04 13:35] gbinal opened #117 "remove API section and add webservice field"
Since the API field in ckan is populated as accessURL and not webservice, one option is to remove the option for adding an API as a resource and instead add a field along with the rest (on the first page of a records creation/editing) that is for webservice.

It should be an optional field who's only validation requirement is that it be a URL.  The hover over text should be 'Endpoint of web servic

[2014-06-04 20:35] philipashlock opened #118 "Automatically make packages with a datastore/filestore resource public and everything else private"
By default all entries should be private, but they should automatically be made public if they have a filestore/datastore resource. The interface for adding resources to the filestore/datastore should have a disclaimer that uploading anything will make the entry public.

[2014-06-04 20:41] philipashlock opened #119 "Hide all pages used for the inventory for users who are not logged in"
Implement redirects or ensure all pages are hidden for users who are not logged in _except_ the resources preview view, direct file downloads, and API usage:

[code]

block all public API access _except_:

[code]

API access should still be available for other methods using API keys with appropriate permissions, especially:

[code]

[2014-06-04 20:54] PJain-REISys opened #120 "Public Data Listing Tab is displayed on Organization page for non logged in users."
Public Data Listing Tab is displayed on Organization page for non logged in users and displays all the datasets for that particular organization regardless they are Public or Private.
For e.g. on the Below organization page:
"https://inventory.data.gov/organization/aphis-usda-gov"
There are no datasets listed on the page but once the datajson is accessed for that organization through Public data l

[2014-06-05 22:06] kvuppala commented on #56
this should be already resolved.

[2014-06-05 22:06] #56 closed, assigned to nobody

[2014-06-05 22:13] kvuppala commented on #52
I think this wont be required as feature, hence closing this.

[2014-06-05 22:13] #52 closed, assigned to nobody

[2014-06-05 22:21] kvuppala commented on #41
Now these errors should be resolved with the 1.19 release.

[2014-06-05 22:21] #41 closed, assigned to nobody

[2014-06-05 22:25] kvuppala commented on #32
Issue should be in data.gov, create this ticket https://github.com/GSA/data.gov/issues/413

[2014-06-05 22:25] #32 closed, assigned to nobody

[2014-06-05 22:28] kvuppala commented on #31
The catalog link http://catalog.data.gov/dataset/community-health-status-indicators-chsi-to-combat-obesity-heart-disease-and-cancer doesn't have the above stated issue now.

[2014-06-05 22:28] #31 closed, assigned to nobody

[2014-06-05 22:29] kvuppala commented on #30
this issue doesn't exist anymore.

[2014-06-05 22:29] #30 closed, assigned to nobody

[2014-06-05 22:39] kvuppala commented on #12
this issue should be resolved now.

[2014-06-05 22:39] #12 closed, assigned to nobody

[2014-06-05 22:42] kvuppala commented on #120
@philipashlock @gbinal should we be removing this button for public view, not sure if this was added intentionally.

[2014-06-05 22:47] kvuppala commented on #114
@jerry135 can you provide an example for the issue.

[2014-06-05 22:52] kvuppala commented on #105
@dinali sorting seems to work fine, see the attached screenshot.

Can you provide specific search criteria used for the above issue.

![usda_ers_screenshot](https://cloud.githubusercontent.com/assets/1738764/3194816/f89d8a90-ed03-11e3-9220-eccb841f9088.png)

[2014-06-09 16:46] philipashlock opened #121 "Bureau Code and Program Code should be required fields"
Since the only users are federal agencies and these are required for them, these should always be required.

[2014-06-09 21:32] philipashlock opened #122 "package_show is returning access denied"
While using an API key with necessary permissions as well as HTTP Basic Auth, I'm not able to get results via `/api/3/action/package_show`

Instead I get an error with:

[code]

I am however able to get permission-specific results from `/api/3/action/member_list`

[2014-06-09 21:37] philipashlock opened #123 "Provide the option to leave license unspecified"
If no license is specified the field should remain blank and exported data.json PDL should show the field with a `null`

Currently the field defaults to "License Not Specified" if nothing is entered

[2014-06-09 21:39] philipashlock opened #124 "Remove extraneous "notes" field in Public Data Listing export"
The Public Data Listing export includes an extra field called `notes` that contains the same contents as `description`

This field should be removed from the export.

[2014-06-09 22:34] philipashlock commented on #96
Sorry for the confusion on this. We'll do our best to incorporate the fix in the next release.

The field is available to edit and is saved properly, but the `modified` field present in the export is still pulling from the date the entry was last updated rather than the date entered in this field.

[2014-06-30 18:41] philipashlock opened #125 "Migrate custom fields that match common core metadata"
There's at least one place where one of the fields in the common core metadata is shown as a separate custom field. On the record for [Best of Charts of Note 2013 ](https://inventory.data.gov/dataset/best-of-charts-of-note-2013) the `dataQuality` field should be handled by the "Meets Agency Data Quality" dropdown menu. The way it's currently handled as a custom field is causing it to be exported a

[2014-07-07 13:16] kvuppala commented on #120
this is resolved now, users will need to login first to see the organization pages.

[2014-07-07 13:16] #120 closed, assigned to PJain-REISys

[2014-07-07 13:16] kvuppala commented on #119
this is complete.

[2014-07-07 13:16] #119 closed, assigned to FuhuXia

[2014-07-07 13:17] kvuppala commented on #118
this is still pending, moving to 1.21

[2014-07-07 13:19] kvuppala commented on #117
this is complete.

[2014-07-07 13:19] #117 closed, assigned to PJain-REISys

[2014-07-07 13:19] kvuppala commented on #115
this is complete.

[2014-07-07 13:19] #115 closed, assigned to ykhadilkar

[2014-07-07 13:19] kvuppala commented on #96
this is complete

[2014-07-07 13:19] #96 closed, assigned to PJain-REISys

[2014-07-07 13:20] kvuppala commented on #79
dependent to https://github.com/GSA/enterprise-data-inventory/issues/118 , will be addressed in 1.21 release

[2014-07-07 13:20] #79 closed, assigned to PJain-REISys

[2014-07-07 13:21] kvuppala commented on #78
this is complete

[2014-07-07 13:21] #78 closed, assigned to PJain-REISys

[2014-07-07 13:22] kvuppala commented on #68
this is complete

[2014-07-07 13:22] #68 closed, assigned to PJain-REISys

[2014-07-07 13:25] kvuppala commented on #67
this is complete

[2014-07-07 13:25] #67 closed, assigned to PJain-REISys

[2014-07-07 13:26] kvuppala commented on #66
this is complete

[2014-07-07 13:26] #66 closed, assigned to PJain-REISys

[2014-07-08 21:49] PJain-REISys opened #126 "Multilingual function n the footer not working"
Multilingual function n the footer not working on inventory.data.gov site.

[2014-07-08 21:52] PJain-REISys opened #127 "Csv file name overlap text on Edit resource page"
Csv file name overlap text on Edit resource page. The file name does not wrap correctly.

![resource file name](https://cloud.githubusercontent.com/assets/1494009/3517144/18162c42-06ea-11e4-8e20-1aafac1c6905.png)

[2014-07-09 13:29] ykhadilkar opened #128 "Remove 'Heartbleed' disclaimer"
Remove 'heartbleed' vulnerability disclaimer from inventory site.

[2014-07-09 14:50] philipashlock opened #129 "Remove extraneous default CKAN fields"
It looks like some of the unnecessary default CKAN fields are showing up under "Expanded Common Core Metadata"

The extra ones I see now are `Source` and `Version`

I don't think these were showing before, so perhaps something changed when `webService` was moved over there.

[2014-07-09 15:06] philipashlock commented on #121
At minimum, these should be displayed under "Required Common Core Metadata" (since they're always required for federal agencies) but ideally they should also be factored into validation when entering in fields.

[2014-07-09 22:06] philipashlock commented on #129
The whole "Additional info" section (step 3) can be removed from the dataset creation process since it's not being used. If it were to contain anything it should be the optional custom key/value pairs.

[2014-07-11 15:02] pandyapm commented on #74
Is this client available to us for the NIST staff  to do the bulk upload? Let me know on how I can install this client.

[2014-07-11 15:05] nsinai commented on #74
@cew821 @gbinal @dwcaraway -- what's the latest on the bulk upload feature?

[2014-07-11 15:23] gbinal commented on #74
@philipashlock

[2014-07-11 15:31] ykhadilkar commented on #74
For now client is available at https://github.com/ykhadilkar-rei/phpimport. We are still in process to cleaning the code. We will move it under GSA repository once that is done.
This is the client we used internally to bulk import energy json and to recent socrata migration.

[2014-07-11 15:52] kvuppala commented on #74
@pandyapm if you have a data.json file or so, we can help in getting the initial data loaded into inventory.data.gov to upload.

[2014-07-11 15:53] pandyapm commented on #74
Ok thanks. We like to test it before using it against the inventory.data.gov web site.  Are you going to have a GSA test site to try out first?

[2014-07-11 16:10] kvuppala commented on #74
we have a staging inventory site we can test and confirm.

[2014-07-11 18:42] sbalmuri-rei opened #130 "IE8:The resources preview is not shown on UI for datasets"

[2014-07-11 19:23] kvuppala opened #131 "Link to Datastore Documentation on Data API is generates page not found error"
The link to the CKAN datastore API documentation on our dataset resource pages appears to be outdated. Should it be this one?  http://docs.ckan.org/en/latest/maintaining/datastore.html#the-datastore-api

Access resource data via a web API with powerful query support. Further information in the main CKAN Data API and DataStore documentation.

[2014-07-11 19:24] kvuppala commented on #131
![datastore_api_doc_error](https://cloud.githubusercontent.com/assets/1738764/3557557/f3b69668-0930-11e4-8586-efb2628b5122.png)

[2014-07-15 20:06] ykhadilkar commented on #131
Kishore,
are you referring to this URL?
![inventory-api-doc](https://cloud.githubusercontent.com/assets/3237208/3590683/78d84b70-0c5b-11e4-8fe0-f9cdd6eec562.jpg)

[2014-07-15 20:10] ykhadilkar opened #132 ""Data API" button does not work for not logged in users"
when clicked blank screen appears. Works when user is logged in.
![inventory-button](https://cloud.githubusercontent.com/assets/3237208/3590739/01dfa508-0c5c-11e4-99b2-cd727502e38a.jpg)

[2014-07-15 20:10] kvuppala commented on #131
@ykhadilkar-rei yes

[2014-07-15 20:12] hkdctol commented on #132
It's not the Data API button--it was a outdated link to ckan.org
documentation.

On Tue, Jul 15, 2014 at 4:10 PM, Yatin Khadilkar notifications@github.com
wrote:

##

Hyon Kim
Deputy Program Director
Data.gov
(202) 694 8148

[2014-07-15 20:31] kvuppala commented on #132
@hkdctol this is a separate issue. the outdated link is tracked at https://github.com/GSA/enterprise-data-inventory/issues/131

[2014-07-15 22:48] philipashlock commented on #119
It looks like /api/3/action/user_show is blocked even with adequate permissions and an API key. Can we unblock that and other API actions when adequate API keys are used?

[2014-07-16 03:17] kvuppala opened #133 "enable google analytics"
enable google analytics on the inventory.data.gov

[2014-07-16 17:52] dinali opened #134 "Link checker?"
Need a way to check for invalid links on data.gov using a link checker utility. Currently, we have no way to find broken links other than manually visiting every one.

[2014-07-17 16:26] ykhadilkar commented on #132
This is fixed now.

[2014-07-17 18:56] ykhadilkar commented on #131
@kvuppala I think more appropriate URL would be document link to CKAN 2.2 instead of latest. We use CKAN 2.2 for inventory
http://docs.ckan.org/en/ckan-2.2/datastore.html

[2014-07-17 19:04] kvuppala commented on #131
@ykhadilkar-rei sounds good

[2014-07-21 20:40] sbalmuri-rei opened #135 "Data Api button is not showing on one specific data set"
https://inventory.data.gov/dataset/toxics-release-inventory-chemicals-by-groupings/resource/9bf438c4-1041-4987-91ef-8aa5a5cc4386

[2014-07-22 14:23] PJain-REISys commented on #132
Works as expected on the internal environment.

[2014-07-22 14:23] PJain-REISys commented on #131
Works as expected on the internal environment.

[2014-07-22 14:24] PJain-REISys commented on #128
Works as expected on the internal environment.

[2014-07-22 19:10] PJain-REISys commented on #127
Issue fixed on internal environment.

[2014-07-23 16:16] philipashlock opened #136 "DataStore API SQL queries respond with Authorization Error"
Once you properly construct a DataStore API SQL query using the appropriate quotes (see original description of the issue below) the API responds with an Authorization Error. For example, this query should work fine:

[https://inventory.data.gov/api/action/datastore_search_sql?sql=SELECT \* from "02c2b1c6-a42d-4a10-9e8b-9cf06e54a82b" WHERE "AWARD_YEAR" = '2014'](https://inventory.data.gov/api/acti

[2014-07-23 18:29] PJain-REISys commented on #121
Working as expected on internal environment.

[2014-07-23 19:48] bletalien opened #137 "OrderedDict with large list"
I just generated my PDL and got this for an asset with MANY sets (we've since agreed to break it down into smaller assets, but that's another story):

2014-07-2312: 47: 41,
947-Validationfailed,
bestguessoferror=[
    OrderedDict([
        ('accessURL',
        u'http: //www.opm.gov/our-inspector-general/reports/2014/audit-of-the-information-technology-security-controls-of-the-us-office-of-personn

[2014-07-23 20:03] dinali commented on #96
Does the harvester only pick up datasets if the Last Updated (required metadata field) has been modified since the last harvest? We're having trouble pushing an updated data.json file from CKAN to data.gov, and we're wondering if we need to manually change the last updated date in order to get the file to data.gov. Don't remember having this problem before. This is for the July 30 Climate Change r

[2014-07-24 14:16] dinali opened #138 "Trailing white space in accessURL and mailbox fields?"
The textbox used for entering the accessURL and mailbox (possibly other fields as well) appears to add trailing white space to the end of the entry (e.g., "http://www.ers.usda.gov/dataFiles/Atlas_of_Rural_America/RuralAtlasData10.xls ").

Trailing white space passes CKAN's validation, however, it throws an error for the GSA harvester. It is impossible to tell whether there's a trailing white space

[2014-07-25 15:44] pandyapm commented on #74
Will bulk upload replace the current data.json file or add data into existing data.json for our site?

From: Kishore Vuppala [mailto:notifications@github.com]
Sent: Friday, July 11, 2014 12:10 PM
To: GSA/enterprise-data-inventory
Cc: Pandya, Pradip
Subject: Re: [enterprise-data-inventory] Need Ability to "Bulk Import" Dataset Records into Inventory (#74)

we have a staging inventory site we can te

[2014-07-25 18:35] dinali opened #139 "Harvest report is inaccurate"
After the harvester runs, it emails a report to subscribers. It always reports zero records added / updated even when records were successfully loaded. The harvester ran yesterday, and several ERS records were updated. Yet, the report still says 0. Also, it reports 0 records in error when in fact, there are errors when the GSA validator checks the file. Clearly, the CKAN and GSA vaildators are sti

[2014-07-25 18:36] ykhadilkar commented on #118
@philipashlock Will add following disclaimer on resource upload page
Disclaimer: Uploading any file will automatically make this dataset public.

Let me know if you want to change.

[2014-07-25 21:23] PJain-REISys opened #140 "PHL Inventory.data.gov issues to be resolved"

[2014-07-28 15:24] regongithub commented on #96
FYI, when this was fixed, all the data that had previously been stored in that field was wiped out. i had to enter it again.

[2014-07-30 22:20] philipashlock commented on #136
As a workaround you can also specify the query with a JSON object on the datastore_search endpoint.

Instead of a SQL statement like `WHERE Status = 'Active'` you'd have a JSON object like `{"Status":"Active"}`

For example:

[code]

There's also a workaround using the datastore_search endpoint with POST

[code]

Here it is in javascript:

[code]

Here's a screenshot using the RESTClient extension

[2014-07-31 17:21] kvuppala commented on #136
@philipashlock

I was able to access and filter the data with the below query as well.

https://inventory.data.gov/api/action/datastore_search?resource_id=1705fe89-ffc3-420d-a385-f365f75fa7eb&filters={%22Status%22:%22Active%22}

Are we looking at this API call or any other API call fix?

[2014-07-31 17:23] kvuppala commented on #136
@philipashlock
I see that SQL query is the issue, ignore the above comment.

[2014-07-31 20:04] philipashlock commented on #136
I think the example you gave is an easier alternative than using POST so thanks for mentioning that, but yeah the issue remains with using the datastore_search_sql endpoint

[2014-07-31 22:18] ykhadilkar commented on #136
@philipashlock I think for upper case column name should be in quotes.
But when I tried it im getting access denied error ... not sure why
https://inventory.data.gov/api/action/datastore_search_sql?sql=SELECT%20*%20from%20%2202c2b1c6-a42d-4a10-9e8b-9cf06e54a82b%22%20WHERE%20%22AWARD_YEAR%22%20=%272014%27

http://stackoverflow.com/questions/20878932/are-postgresql-column-names-case-sensitive

[2014-08-01 12:25] PJain-REISys commented on #126
Working as expected on internal environment.

[2014-08-01 12:25] PJain-REISys commented on #118
Working as expected on internal environment.

[2014-08-01 12:29] PJain-REISys commented on #129
Working as expected on internal environment.

[2014-08-01 20:38] pandyapm commented on #74
I now have a test file which I like to add to the existing metadata for the NIST. Please let me know how to test it on the test site and then later to the inventory.nist.gov site?

From: Kishore Vuppala [mailto:notifications@github.com]
Sent: Friday, July 11, 2014 12:10 PM
To: GSA/enterprise-data-inventory
Cc: Pandya, Pradip
Subject: Re: [enterprise-data-inventory] Need Ability to "Bulk Import" Da

[2014-08-04 15:57] hkdctol commented on #131
@ykhadilkar-rei Was this supposed to be fixed already or is it on a schedule? We still have the wrong URL for documentation?

[2014-08-04 16:01] ykhadilkar commented on #131
@hkdctol It will be deployed on production as part of release 1.21 on 5th August. Yes we still have wrong url in production. I believe CKAN changed URL of their documentation and thats why we are seeing this issue.

[2014-08-06 02:11] ykhadilkar commented on #54
There are more items coming over http connection on resource page like Map tiles. Need more discussion.

[2014-08-06 13:43] ykhadilkar commented on #140
We still have some issues with Philly backup database and datastore.

[2014-08-06 13:46] ykhadilkar commented on #133
Successfully deployed on production.

[2014-08-06 13:46] #133 closed, assigned to PJain-REISys

[2014-08-06 13:47] ykhadilkar commented on #132
Successfully deployed on production.

[2014-08-06 13:47] #132 closed, assigned to PJain-REISys

[2014-08-06 13:48] ykhadilkar commented on #131
Successfully deployed on production.

[2014-08-06 13:48] #131 closed, assigned to PJain-REISys

[2014-08-06 13:48] ykhadilkar commented on #129
Successfully deployed on production.

[2014-08-06 13:48] #129 closed, assigned to PJain-REISys

[2014-08-06 13:48] ykhadilkar commented on #128
Successfully deployed on production.

[2014-08-06 13:48] #128 closed, assigned to PJain-REISys

[2014-08-06 13:48] ykhadilkar commented on #127
Successfully deployed on production.

[2014-08-06 13:48] #127 closed, assigned to PJain-REISys

[2014-08-06 13:49] ykhadilkar commented on #126
Successfully deployed on production.

[2014-08-06 13:49] #126 closed, assigned to PJain-REISys

[2014-08-06 13:49] ykhadilkar commented on #121
Successfully deployed on production.

[2014-08-06 13:49] #121 closed, assigned to PJain-REISys

[2014-08-06 13:49] ykhadilkar commented on #118
Successfully deployed on production.

[2014-08-06 13:49] #118 closed, assigned to PJain-REISys

[2014-08-15 15:25] ykhadilkar commented on #140
This issue has been resolved.

[2014-08-15 15:25] #140 closed, assigned to FuhuXia

[2014-08-21 14:38] philipashlock opened #141 "Additional Info section is blank on dataset creation"
The "Additional Info" section is usually step three in the dataset creation process. If this is where custom fields should be displayed (as per #95) then we should display those. Otherwise, if there are no fields here, this section shouldn't be displayed at all

![screen shot 2014-08-21 at 10 37 30 am](https://cloud.githubusercontent.com/assets/183402/3997595/b9b25468-2940-11e4-92af-c9c5c6fc40d1.p

[2014-08-21 14:43] ykhadilkar commented on #141
@philipashlock ... As discussed in issue #129 removed the last step completely. Do u still see last page? When did you take this screenshot?

[2014-08-21 15:14] philipashlock opened #142 "Display URL field without needing to click the Link button"
On the form to add a resource, show the full URL field by default (the state you normally only see after clicking the Link button)

Show this by default:

![screen shot 2014-08-21 at 11 10 53 am](https://cloud.githubusercontent.com/assets/183402/3998134/a59b0858-2945-11e4-8bd8-24f005969924.png)

---

Don't show this:
_(unless they've clicked the red x button in the URL field)_

![screen shot 2014-

[2014-08-21 15:17] philipashlock opened #143 "Display meaningful error message if required fields are missing on add resource form"
On the form to add a resource (eg https://inventory.data.gov/dataset/new_resource/[dataset-id]), the process will return a 500 Server Error if you omit the URL or format fields. It's ok if you omit everything, but if you enter anything, it requires both of those fields as a minimum. Instead the form should inform the user that a required field was missing.

Currently if you omit one of them, you'l

[2014-08-21 15:26] ykhadilkar commented on #142
@philipashlock But first screenshot gives no information about file upload option present. I feel like it not intuitive to click red X button when user wants to upload a file.

[2014-08-21 15:49] philipashlock commented on #141
Yeah, it looks like this behavior only occurs if you don't provide any resource information on the previous step.

[2014-08-21 15:50] philipashlock commented on #142
Right now we're not ready to offer user uploads as an option, so that's fine.

When we do want to offer file uploads, we might want to look into using the older CKAN interface instead, eg:

![screen shot 2014-08-21 at 11 52 19 am](https://cloud.githubusercontent.com/assets/183402/3998818/4108e01c-294b-11e4-9799-de990affdeba.png)

[2014-08-21 15:51] ykhadilkar commented on #141
Got it. Will fix it.

[2014-09-11 14:43] philipashlock opened #144 "Remove breadcrumb navigation and link to source"
![remove-source-link](https://cloud.githubusercontent.com/assets/183402/4235724/efda57de-39c1-11e4-8137-2405c36c3d24.png)

[2014-09-12 22:26] ykhadilkar commented on #144
For anonymous users, I will also remove Top navigation menu and Search  box as that is not available to user as well.

[2014-09-23 16:37] ykhadilkar opened #145 "When creating new dataset if no resource is attached 3rd page shows up. Remove 3rd step."

[2014-09-24 13:49] ykhadilkar commented on #145
Related to #141

[2014-09-26 16:21] MikePulsiferDOL opened #146 ""This dataset has no data" ... but it does."
I’ve been trying to clean up some of the datasets in our inventory (API endpoints listed as resources) and where we don’t have a downloadable file (yet), but we do have the API, the page still says, “This dataset has no data, why not add some?”  We do have data…in the API.  https://inventory.data.gov/dataset/vets-100a

[2014-09-26 20:40] philipashlock opened #147 "Ability to specify correct datatypes for columns on DataStore imports"
The auto detection feature is unreliable, it would be better to override that and manually specify the datatype for each column

[2014-09-29 21:45] ykhadilkar opened #148 "On resource edit page if format text is long,overlaps with text fields."

[2014-10-08 20:18] philipashlock opened #149 "Verify URL and file format when adding a resource"
The URL and format should be verified when a resource is added. There's already a separate issue (#143) about properly handling the validation for whether these were included or not, but this issue is about verifying whether the URL and format are correct using an HTTP HEAD check to see if the response code is 200 for the URL and to see if the Content-Type matches the format specified.

This could

[2014-10-10 19:50] ykhadilkar opened #150 "Remove repeated Title and Description from Dataset page"
![screen shot 2014-10-10 at 3 49 40 pm](https://cloud.githubusercontent.com/assets/3237208/4598227/9f253654-50b6-11e4-9066-71c9aa153e34.png)

[2014-10-10 19:52] ykhadilkar commented on #148
Fixed and deployed on Oct 9, 2014

[2014-10-10 19:53] ykhadilkar commented on #145
Fixed and deployed on Oct 9, 2014

[2014-10-10 19:53] #145 closed, assigned to ykhadilkar

[2014-10-10 19:53] #148 closed, assigned to ykhadilkar

[2014-10-10 19:54] ykhadilkar commented on #144
Fixed and deployed on Oct 10, 2014
![screen shot 2014-10-10 at 3 53 55 pm](https://cloud.githubusercontent.com/assets/3237208/4598288/34eb6fb4-50b7-11e4-91f4-03dc9d0ebaa0.png)

[2014-10-10 19:54] #144 closed, assigned to ykhadilkar

[2014-10-10 19:57] ykhadilkar commented on #143
Fixed and deployed on Oct 9, 2014
![screen shot 2014-10-10 at 3 56 40 pm](https://cloud.githubusercontent.com/assets/3237208/4598339/bb0ccf20-50b7-11e4-8d36-c412503e081c.png)

[2014-10-10 19:58] #143 closed, assigned to ykhadilkar

[2014-10-10 20:05] ykhadilkar commented on #141
Fixed and deployed on Oct 9, 2014

[2014-10-10 20:05] #141 closed, assigned to nobody

[2014-10-29 21:31] philipashlock opened #151 "Update USMetadata and Datajson Extension to support v1.1 schema"

[2014-10-29 21:34] philipashlock opened #152 "Enable flag to set a dataset as unpublished draft"
So you can save a draft without it exporting to PDL or EDI

[2014-11-07 19:27] ykhadilkar opened #153 "Updated USMetadata extension for Schema 1.1"
Update UI to match new open data [schema version 1.1](https://project-open-data.cio.gov/v1.1/schema/)

Listing individual items this task
- [x] Update resource page with new fields
- [x] Dataset collection - Add field to mark dataset as parent
- [x] Dataset collection - Add field to select parent dataset
- [x] Add fields to specify Organization hierarchy on dataset page
- [x] Migrate data from cur

[2014-11-07 19:29] ykhadilkar opened #154 "Update Data json extension for schema 1.1"
Update dataJson extension to output JSON file compatible with new Open Data Schema version 1.1

[2014-11-24 18:32] philipashlock opened #155 "Password reset email has no from address"
It doesn't look like an email address is associated with CKAN when a password reset email is sent. This is likely responsible for some people not receiving these emails. Here's a header from one of these emails:

[code]

[2014-11-25 18:55] ykhadilkar commented on #155
Yea I also noticed this sometime back. Will update production.ini file to have "no-reply@inventory.data.gov" as from address. This will get deployed as part of upcoming Release 1.23 on December 2.

[2014-12-04 20:14] bletalien opened #156 "Massive error log since switch to v. 1.1"
This started before I made any changes. Here are the first few lines:

2014-12-04 15:07:53,372 - Validation failed, best guess of error = u'description' is a required property

Failed validating u'required' in schema:
    {u'$schema': u'http://json-schema.org/draft-04/schema#',
     u'definitions': {u'distribution': {u'$schema': u'http://json-schema.org/draft-04/schema#',

[2014-12-04 20:21] kvuppala opened #157 "resource file upload fails for some existing dataset resources"
On some dataset resources replacing a csv file causes a 500 internal server error, the same csv gets uploaded successfully to file store as well as data store.  Seen this happen only in live site, we have utilized a workaround to create a new resource and update the old resource URL to second resource URL instead of a file upload.

[2014-12-04 22:21] kvuppala commented on #155
Fixed, from email is now set as Inventory.data.gov no-reply@inventory.data.gov to make sure emails are delivered.

[2014-12-04 22:21] #155 closed, assigned to ykhadilkar

[2014-12-04 22:23] kvuppala commented on #154
Schema 1.1 is now supported, any suggestion or issues on the feature can be created as a new issue with specifics.

[2014-12-04 22:23] #154 closed, assigned to vasili4

[2014-12-04 22:24] kvuppala commented on #153
Schema 1.1 is now supported, any suggestion or issues on the feature can be created as a new issue with specifics.

[2014-12-04 22:25] #153 closed, assigned to ykhadilkar

[2014-12-04 22:26] kvuppala commented on #150
this is complete

[2014-12-04 22:26] #150 closed, assigned to ykhadilkar

[2014-12-04 22:32] bletalien commented on #156
I went through the error log file and found that in most instances, it claimed the entries were missing descriptions. Of course they weren't, but I edited each one (deleted the final period if it was there and added one if there wasn't one -- simply hitting "manage" and saving the entry without making any changes didn't do the trick). A few were stubborn, but most cleared up on the first shot. In

[2014-12-05 14:41] kvuppala commented on #151
Related to #153 and #154 can be closed

[2014-12-05 14:41] #151 closed, assigned to nobody

[2014-12-05 14:49] kvuppala commented on #146
@MikePulsiferDOL Is the issue still valid now, looks like the API endpoint registered http://api.dol.gov/V1/VETS100/V100ADataDotGov is now giving a 404 error.

[2014-12-05 15:10] MikePulsiferDOL commented on #146
Yes, it's still valid.  The API call requires an API key.  Without a key, you'll get an error.

[2014-12-05 15:16] kvuppala commented on #146
Thanks, could you point me where you see the below message or could you attach a screenshot.
<<
 the page still says, “This dataset has no data, why not add some?

[2014-12-05 15:40] MikePulsiferDOL commented on #146
When the resource is deleted as I was instructed to (resource being for downloads), you have what's below:

## VETS-100A

This dataset contains required veteran employment data by federal contractors/subcontractors. There are two tables V100DataDotGov and V100ADataDotGov. Both collections contain the past two years plus current filing cycle. V100AdataDotGov are reports entered for contracts that w

[2014-12-05 16:34] kvuppala opened #158 "update inventory to latest CKAN release"

[2014-12-08 20:05] davekiss commented on #136
Thanks for the capitalization tip, I was stuck on this for a minute

[2014-12-09 21:36] kvuppala commented on #146
Is resource deletion the request from agency,  i think this is something we migrated from the webservice  field, which is now moved under the resources section with POD v1.1 schema.

The text that says no data, why not add some?   is something that comes with CKAN, we will look into if that needs to be changed.

[2014-12-09 21:38] kvuppala opened #159 "pod schema 1.1 new changes"
need  to pull the below changes to inventory
https://github.com/GSA/project-open-data-dashboard/compare/35518d35a479508a8f01b86d49708fc88f6fc671...9d37ff185a935493c041cfe433bc7d45b88b39c0#diff-2

[2014-12-10 19:25] kvuppala commented on #142
@alex-perfilov-reisys
We also need to add another UI option called Link to an AccessURL next to Upload a file option

Link to File and Upload a file will need to be output as downloadURL in the final json,  other two will go as the accessURL in the final json

Mediatype validation should only trigger for downloadURL options.

[2014-12-11 15:33] philipashlock commented on #123
This is currently breaking validation using the v1.1 schema which requires this field to be a URL.

If no license is specified, this needs to export as null or the license field should simply not be exported at all.

[2014-12-12 03:02] kvuppala commented on #123
issue is resolved now in live site with tonight build

[2014-12-12 03:02] #123 closed, assigned to vasili4

[2014-12-15 21:33] philipashlock opened #160 "Improve readability of PDL/EDI error log"
Rather than a plain text file, it would be better if the error log could be presented as a more readable html file.

However, rather than generate an html file directly, perhaps it could generate a JSON file and come with an html file that reads that JSON file. This would allow other applications to parse the error log directly from the JSON.

We would still include an html file in the zip package

[2014-12-15 21:37] philipashlock opened #161 "Provide the ability to filter by and distinguish accessLevel in browse view"
This is available as a text query, but it should be available in the faceted search options or as some other filter button.

https://inventory.data.gov/organization/gsa-x?q=public_access_level%3Anon-public

Likewise, there should be a icon that denotes the accessLevel next to each dataset in the browse view.

[2014-12-16 19:36] philipashlock opened #162 "Resource fields are not validated with web UI"
This issue is really a subset of #101, but it's specifically about the fields when entering a resource. None of the following fields are validated during user input with the web UI:
- Media Type (mediaType)
- Data Dictionary (describedBy)
- Data Dictionary Type (describedByType)
- Data Standard (conformsTo)

[2014-12-19 15:17] kvuppala commented on #159
latest schema changes are live

[2014-12-19 15:17] #159 closed, assigned to vasili4

[2014-12-19 15:20] kvuppala commented on #156
@bletalien the error log now is made  much shorter and the issue with description should be resolved, the description missing error was related to  imported records through api than the ones created through UI. Let us know if you see any issues on  this.

[2014-12-19 15:21] kvuppala commented on #138
Fixed, trailing white spaces are ignored in the UI  validation, and removed in the final data.json export.

[2014-12-19 15:21] #138 closed, assigned to vasili4

[2014-12-19 15:22] kvuppala commented on #101
UI validations are   put in  place, there are few UI validations pending on the resource creation page.

[2014-12-19 15:24] kvuppala commented on #142
The change is complete, the UI looks as shown below, now the capability to add API / accessURL is also made  available.

![resource_creation_scrennshot](https://cloud.githubusercontent.com/assets/1738764/5506524/29539058-8769-11e4-8e05-57f8b504d07f.png)

[2014-12-19 15:24] #142 closed, assigned to vasili4

[2014-12-19 15:31] bletalien commented on #156
I've used the UI exclusively, never tried to import records via API, but in any case, those error messages have stopped.

Now I'm getting errors like the following and it's stripping non-public assets from the EDI:

2014-12-19 09:55:43,552 - ('Possible Private Data Leakage', ['A dataset appears with accessLevel set to "non-public". (1 locations)'])
2014-12-19 09:55:43,553 - Dataset id=[09705b0f-50

[2014-12-19 15:41] kvuppala commented on #156
Will take look at EDI listing,  it should not have given the error,  which organization you are using for export:

[2014-12-19 16:09] bletalien commented on #156
Thanks. https://inventory.data.gov/organization/office-of-personnel-management

[2014-12-19 23:15] kvuppala commented on #156
@bletalien
The issue is resolved, thanks for the catch.

[2014-12-19 23:15] #156 closed, assigned to vasili4

[2014-12-22 16:08] bletalien commented on #156
@kvuppala, thank you!

[2014-12-23 20:23] MikePulsiferDOL opened #163 "Two fields will not allow edits."
While editing a dataset, some legacy bad data was left behind when I clicked the update dataset button.  I got error messages as I should have.  I removed the bad data in two of the fields, but two others (**Landing Page** and **Primary IT Investment UII**) would not let me fix the errors.

[2014-12-23 20:25] kvuppala commented on #163
@MikePulsiferDOL can you provide the dataset URL you are having issue with.

[2014-12-23 20:30] MikePulsiferDOL commented on #163
https://inventory.data.gov/dataset/labor-certificates-processing-data

I'm trying to break apart the multiple items (datasets, really) that were improperly clumped together.

[2014-12-23 20:42] kvuppala commented on #163
Landing page needs to be a one single URL, looks like this dataset has multiple with comma separated values, according to v1.1 schema https://project-open-data.cio.gov/v1.1/schema/#landingPage it has to be only one URL.

Primary IT Investment UII needs to be in a XXX-XXXXXXXXX format according to schema - https://project-open-data.cio.gov/v1.1/schema/#primaryITInvestmentUII or https://github.com/p

[2014-12-23 20:47] MikePulsiferDOL commented on #163
I know.  I'm trying to fix that, **but the app won't let me**.  For example, in Landing Page, I delete all but one of the URLs.  I leave the field and go back and boom! ALL the URLs are back.

[2014-12-23 21:02] kvuppala commented on #163
Did you try to update the dataset with the above three values fixed together?  currently there is one limitation on the application where the if any UI error happens on the update page it prefills with the previously existing values in the field.

[2014-12-23 22:52] kvuppala opened #164 "license field to be updated as dropdown"
change the current license field from free text entry to dropdown with the below values, in the dropdown as user types in should filter to the matching URLs, similar to the media type field in resource creation page.

Below are the defined list of values that need to be provided in dropdown:
cc-by, Creative Commons Attribution, https://creativecommons.org/licenses/by/4.0
cc-by-sa, Creative Commons

[2014-12-24 12:39] MikePulsiferDOL commented on #163
Yep, I tried that.  I'm starting to think that I need to delete it and recreate it.

[2014-12-24 14:26] MikePulsiferDOL commented on #163
When I'm trying to create a new dataset, it's putting that list of URLs in the landing page field.  I'm trying to give it JUST ONE and it won't let me without switching to a different browser and new user session.

[2014-12-29 21:04] kvuppala commented on #163
@MikePulsiferDOL
It is strange that we could not reproduce it, could you please confirm if you are able to successfully edit after switching the browser/user session ?

[2014-12-31 20:01] rebeccawilliams commented on #26
Merging data.json files could be done one of 2 ways:
1. Through inventory.data.gov bulk data.json imports, OR
2. By a script that concatenates data.json files. (This would have to omit the smaller Catalog fields and add new overarching Catalog fields, +?). A script template might be a helpful stopgap for technical POCs.

[2015-01-02 21:10] MikePulsiferDOL opened #165 "Escaped characters in URLs"
Will escaped characters in URLs be an issue?

I've created a tool to stitch together data.json files and the output looks like this:

  "describedBy" : "https:\/\/project-open-data.cio.gov\/v1.1\/schema\/catalog.json",
  "@context" : "https:\/\/project-open-data.cio.gov\/v1.1\/schema\/data.jsonld",

The data.json validator at http://labs.data.gov/dashboard/validate didn't have any concerns, but I'

[2015-01-05 17:53] ykhadilkar opened #166 "Inventory_user is navigated to the Error 404 page_when last breadcrumb is selected on the resource uplaod page"
1.Navigate to the dataset page - (http://qa-datastore-fe-data.reisys.com/dataset/newschemainventory2)
2.under the data and resources section- select the PDF listed
3.user is navigated to the page (http://qa-datastore-fe-data.reisys.com/dataset/newschemainventory2/resource/7e8582ba-1e1b-4df1-8301-5252d0ae97c9)
4.select the last breadcrumb on this page - user is navigated to the Error 404 page

Issu

[2015-01-07 14:51] ykhadilkar commented on #158
Updated CKAN core to 2.2.1. Deployed on QA.

[2015-01-07 15:11] ykhadilkar commented on #166
This is issue is fixed by upgrading CKAN version. Deployed on QA.

[2015-01-09 18:41] philipashlock commented on #26
We have a tool to merge disparate data.json files at http://labs.data.gov/dashboard/merge but it has not yet been updated to support the v1.1 schema yet.

Ideally, this functionality should be built directly into inventory.data.gov though, perhaps via an organization that acts as a parent of other organizations.

[2015-01-09 22:15] ykhadilkar commented on #164
Deployed on QA

[2015-01-12 21:01] MikePulsiferDOL opened #167 "'The \'accessURL\' field has an invalid URL:"
('Invalid Required Field Value', [u'The \'accessURL\' field has an invalid URL: "http://api.dol.gov/V1/ApiMetrics/PerKey/NumberOfRequestsPerMonthByKeys?KEY=352e8ef9-7b38-4428-875b-eefd39df6289&$filter=TOKEN eq guid\'352e8ef9-7b38-4428-875b-eefd39df6289\'". (1 locations)'])

The URL is valid (try it in Chrome).  Because of the way this dataset is set up on the back end, you need everything after th

[2015-01-12 21:48] vasili4 commented on #167
Chrome is fixing bad urls automatically. CKAN doesn't.

Just urlencode() your urls and they will become valid.

%20 instead space " "
%27 instead single quote '

http://api.dol.gov/V1/ApiMetrics/PerKey/NumberOfRequestsPerMonthByKeys?KEY=352e8ef9-7b38-4428-875b-eefd39df6289&$filter=TOKEN%20eq%20guid%27352e8ef9-7b38-4428-875b-eefd39df6289%27

Chrome makes same, before making the request

[2015-01-14 13:29] MikePulsiferDOL commented on #167
Thanks.  That worked.

[2015-01-14 13:29] #167 closed, assigned to nobody

[2015-01-14 16:26] ykhadilkar commented on #26
Users can add new key-value pair in following format to generate consolidated JSON.
![screen shot 2015-01-14 at 11 23 35 am](https://cloud.githubusercontent.com/assets/3237208/5742447/2c1f698e-9be0-11e4-96af-eab097ca977d.png)

[2015-01-14 16:27] ykhadilkar commented on #26
This is deployed on QA.

[2015-01-14 16:35] rebeccawilliams commented on #26
Awesome!

Is there a timeline on getting http://labs.data.gov/dashboard/merge updated for v1.1 too?

[2015-01-16 00:42] kvuppala commented on #149
Resource URL content type, and status code are checked during data entry and displayed to the user (see the below screenshot), however it wont stop the user from entering the data with inconsistent format, given the broad format types it would be better to leave it to agency user entering data to make the final decision.

![resource_validation_ss](https://cloud.githubusercontent.com/assets/1738764

[2015-01-16 01:03] kvuppala commented on #164
License is now setup as dropdown, see the screenshot from QA, as the user types the dropdown will give the corresponding URLs that can be selected.
![license_field_dropdown](https://cloud.githubusercontent.com/assets/1738764/5769992/6cb10a0e-9cf1-11e4-8637-30b0a133060b.png)

[2015-01-16 18:38] bharathkannansba opened #168 "Ability to clone dataset"
Most of the basic metadata information are similar across datasets and it would be nice to have a clone option that would make a copy of an existing dataset and allows th eusers to update them. Manual keying in the information over and over gain is time consuming.

[2015-01-16 22:00] Kapil-bulchandani commented on #166
Added the jquery to populate the url

[2015-01-21 15:18] PJain-REISys commented on #166
This issue is fixed.

[2015-01-21 15:18] #166 closed, assigned to PJain-REISys

[2015-01-21 15:18] PJain-REISys commented on #164
This change is complete and live.

[2015-01-21 15:18] #164 closed, assigned to PJain-REISys

[2015-01-21 16:19] PJain-REISys commented on #26
Change is complete and live on inventory.data.gov.

[2015-01-21 16:19] #26 closed, assigned to PJain-REISys

[2015-01-22 20:25] kvuppala commented on #158
CKAN core is upgraded to 2.2.1 version on inventory.data.gov

[2015-01-22 20:25] #158 closed, assigned to PJain-REISys

[2015-01-22 20:29] kvuppala commented on #157
Issue is resolved on inventory.data.gov, the issue was caused by the older files having an incorrect SELinux context.

Removed the duplicate resources that were created as an alternate approach to overcome above issue, below resources now just have only one resource URL which was created when the datasets were initially created in inventory
https://inventory.data.gov/dataset/federal-executive-agen

[2015-01-22 20:29] #157 closed, assigned to vasili4

[2015-01-30 15:54] kvuppala commented on #101
Most schema validations are now in place during data entry, very few which require a check against master list like BureaCode are on data.json generation, I think we can close this ticket and create a new issue for any specific findings that needs to addressed separately.

[2015-01-30 15:54] #101 closed, assigned to vasili4

[2015-01-30 17:06] philipashlock opened #169 "Restrict dataset bulk edit to superusers"

[2015-02-02 17:07] kvuppala opened #170 "organization dataset page is slow when there are few hundreds of datasets"
when there are few hundreds of datasets, the organization dataset page takes lot of time to load, need to identify the cause for resolution.

[2015-02-03 17:04] kvuppala commented on #44
This complete.

[2015-02-03 17:04] #44 closed, assigned to kvuppala

[2015-02-03 17:05] kvuppala commented on #27
related to #26

[2015-02-03 17:06] kvuppala commented on #27
Now that data.json merge capability is available via #26, we can close this ticket

[2015-02-03 17:06] #27 closed, assigned to kvuppala

[2015-02-03 17:09] kvuppala commented on #149
All checks are present on the resource create page, there are few ajax checks pending on the dataset page which could be given as warning or error based on the error type, those would be ready in next release 1.26.

[2015-02-03 17:10] kvuppala commented on #162
#101 is completed and closed.

[2015-02-03 17:10] #162 closed, assigned to nobody

[2015-02-03 17:20] kvuppala commented on #139
@dinali sometime there is confusion in terms of from which CKAN instance this email was generated, do you still see this issue,  we can troubleshoot further on this.  In the next release we are adding the CKAN catalog instance URL where this report was generated to avoid confusion.

[2015-02-03 17:22] kvuppala commented on #137
@bletalien can you check this again if its an issue, with the new schema 1.1 changes live, all errors should be in sync with schema 1.1

[2015-02-03 17:23] kvuppala commented on #165
@MikePulsiferDOL
do you have an agency data.json which includes the above escaped URLs, i think they should look fine in data.gov and we can double check if you have any specific data that we can look.

[2015-02-03 17:25] MikePulsiferDOL commented on #165
http://www.dol.gov/data.json

[2015-02-03 17:27] bletalien commented on #137
Hmm, I don't have any need for it anymore. I created a ton of parent-child relationships in December and no longer have any lists that are big enough for the problem to occur. But I'm pretty sure it went away because I submitted the August and November iterations for review with everything working. I'm sorry. I should've closed the loop sooner!

[2015-02-03 17:27] #137 closed, assigned to kvuppala

[2015-02-03 17:40] kvuppala commented on #165
Just checked, URLs are harvested fine in the sample dataset http://catalog.data.gov/dataset/benefits-gov-child-care-child-support-benefits

Will close item.

[2015-02-03 17:40] #165 closed, assigned to kvuppala

[2015-02-03 17:47] kvuppala commented on #137
@bletalien thanks for the additional info and closing this. sorry, our response was kind of late as well.

[2015-02-03 18:31] bletalien commented on #137
@kvuppala thank you. I'm just glad it worked out.

[2015-02-04 18:18] ykhadilkar commented on #169
deployed on internal QA env. @kvuppala

[2015-02-04 23:05] ykhadilkar commented on #161
@kvuppala added new access level facets on QA.
@kapil-bulchandani we need to create new icons for private/public datasets
@philipashlock CKAN core comes with "Lock" icon may be we can reuse it to indicate private dataset?

[2015-02-04 23:36] philipashlock opened #171 "Hide form to add a new user on the organization Add Member page"
The Add Member page for organizations should only show the option to add existing members, not to add new members. Perhaps we could add this to the US Metadata Extension as something that can be enabled or disabled with a configuration option.

![screen_shot_2015-02-04_at_3_07_45_pm](https://cloud.githubusercontent.com/assets/183402/6048693/2cf6c266-ac80-11e4-9a16-0c516da36c04.png)

[2015-02-06 21:55] ykhadilkar commented on #161
@philipashlock @kvuppala Icons something like this or you meant icons on dataset list page?

![screen shot 2015-02-06 at 4 53 55 pm](https://cloud.githubusercontent.com/assets/3237208/6088088/d248ccea-ae20-11e4-8caf-806e74b747c5.png)
![screen shot 2015-02-06 at 4 52 48 pm](https://cloud.githubusercontent.com/assets/3237208/6088089/d248ecb6-ae20-11e4-9df5-450b1dd4856a.png)

[2015-02-06 22:00] kvuppala commented on #161
@ykhadilkar-rei looks good to me, do we show the restricted text for the third accessLevel value that would could have for some datasets?

Also do we show the same  icons on the main organization datasets page as well?

[2015-02-06 22:00] ykhadilkar commented on #161
Dataset list page with icons

![screen shot 2015-02-06 at 5 05 10 pm](https://cloud.githubusercontent.com/assets/3237208/6088244/5b1537ce-ae22-11e4-8406-1e684cb62085.png)

[2015-02-11 19:22] bletalien opened #172 "isPartOf drop-down needs rethinking"
I just created a parent and started trying to add children, but:
1. I see a ton of some other agency's parents in the drop-down
2. I don't see my new parent. I checked the parent several times, and I saved and reopened the child to possibly refresh the list
3. The list is in no discernible order

[2015-02-11 19:46] kvuppala commented on #172
@bletalien we have noticed this issue as well today, currently there is a 50 limit on the parent dataset dropdown, fix to remove this limit will be available on the 2/18.

Also agree that parent dataset dropdown should only list those that correspond to the agency one is entering data, which is unknown when the add dataset page is loaded and if the user has multiple agencies permissions to create

[2015-02-11 20:51] bletalien commented on #172
@kvuppala , thanks for the explanation. I have plenty of other things to do and can wait until the 18th. I can see the problem with limiting the parents to a single agency. All in good time . . .

[2015-02-13 15:48] bharathkannansba opened #173 "Ability to view all deleted datasets for admin user"
Currently, when a dataset is deleted, it shows up only to the user who created the dataset initially. All other admin users not have the ability to view the deleted datasets. Providing access to deleted dataset to admin users can help is managing the organization inventory history and also reactivate any datasets that might have been accidently deleted. A view in the admin user's dashoboard for al

[2015-02-18 16:13] ykhadilkar commented on #172
Fix has been deployed to production on 02/17.

[2015-02-18 16:13] #172 closed, assigned to ykhadilkar

[2015-02-18 16:19] ykhadilkar commented on #170
Fix has been deployed to production on 02/17.
CKAN core fetching and processing all the datasets in an organization. Essentially defeating whole purpose of pagination. I have changed that behavior and  now we are processing only 20 records at a time. CKAN core has be changed since then and more than likely this is already fixed in latest CKAN core.
After this fix page load time for VA organization

[2015-02-18 16:19] #170 closed, assigned to ykhadilkar

[2015-02-18 16:19] ykhadilkar commented on #169
Fix has been deployed to production on 02/17.

[2015-02-18 16:19] #169 closed, assigned to kvuppala

[2015-02-18 16:19] ykhadilkar commented on #161
Fix has been deployed to production on 02/17.

[2015-02-18 16:19] #161 closed, assigned to ykhadilkar

[2015-02-24 16:42] kvuppala commented on #149
URL and format check by http head request are completed, and also a pending issue on some of the URLs not being reachable on the hosting provider is resolved.

[2015-02-24 16:42] #149 closed, assigned to vasili4

[2015-03-02 18:57] bletalien commented on #152
It'd be great if there were a button to export just the drafts to send them for review.

[2015-03-02 19:17] kvuppala commented on #168
@ykhadilkar-rei @philipashlock
We can introduce a Clone button on the dataset page, which will copy the entire information except may be title, and description for users to enter and go through the dataset creation process.

[2015-03-02 19:19] kvuppala commented on #152
@ykhadilkar-rei
We can add a custom field "Publishing Status" "Draft/Published", anything selected as Draft will be ignored for PDL/EDI generation.

All the existing datasets can be set as "Published" for this new field, before introducing this in the UI.

[2015-03-02 19:26] kvuppala commented on #152
@ykhadilkar-rei Also there seems to be other effort to have this as a core CKAN feature, may be we can check that as well.

[2015-03-02 19:28] bletalien commented on #152
@ykhadilkar-rei my problem is I have to send the drafts around to people who don't have access to inventory.data.gov (and wouldn't use it) for review. I'd like to be able to export just the drafts, copy them into Word, do a bunch of searching and replacing, and circulate that "pretty" file for review. Is that likely to be possible?

[2015-03-12 19:42] kvuppala opened #174 "Update Digital Analytics Program (DAP) tracking code"
In response to https://www.digitalgov.gov/services/dap/digital-analytics-program-universal-analytics-migration/

Ref: https://github.com/GSA/data.gov/issues/599

[2015-03-16 14:49] ykhadilkar commented on #168
@kvuppala @philipashlock
I am guessing we do not want to clone resources. Is that correct?

[2015-03-16 14:56] kvuppala commented on #168
@ykhadilkar-rei
No need to clone resources, just the initial metadata page should be sufficient.

[2015-03-16 15:30] bharathkannansba commented on #168
Kishore

Some of the datasets within SBA are specific to geographical locations and categories. For example, list of certified small businesses by state would have 50 different datasets and the resource url would just differ for the state code -  www.sba.gov/.../NY.xlsxhttp://www.sba.gov/.../NY.xlsx, www.sba.gov/.../CA.xlsxhttp://www.sba.gov/.../CA.xlsx etc. In such cases, it would be easier to ha

[2015-03-16 22:27] kvuppala commented on #168
@bharathkannansba
thank you for the feedback, we will look into the feasibility of cloning the resources

[2015-03-18 21:28] bletalien opened #175 "Frequency: every 5 years"
Consider another option for accrualPeriodicity: quinquennial. I just had someone submit metadata for something that is released every five years.

[2015-03-19 22:02] ykhadilkar commented on #152
@bletalien @kvuppala @philipashlock
Added button to export draft datasets. EDL and PDL will only include published datasets
![screen shot 2015-03-19 at 5 59 11 pm](https://cloud.githubusercontent.com/assets/3237208/6741919/f4460d7e-ce61-11e4-83a2-49f5bbafd3aa.png)

By default every dataset will be treated as published.
![screen shot 2015-03-19 at 5 59 50 pm](https://cloud.githubusercontent.com/ass

[2015-03-23 19:37] bletalien commented on #152
@ykhadilkar-rei Great! Sorry it took me so long to respond -- my spam filter caught your message and didn't even have the courtesy to tell me. This will drastically improve my process. Thank you. Any idea when it'll be available?

[2015-03-23 21:24] ykhadilkar commented on #152
@bletalien no worries. We will be pushing this along with other changes on 26th. So you should be able to see it on prod on 27th.

[2015-03-24 15:51] bletalien commented on #152
@ykhadilkar-rei What great news! You have no idea how much easier you just made my life!

[2015-03-27 01:27] ykhadilkar commented on #168
Deployed on production on 03/26. We are not cloning resources in this iteration. If required we can create separate issue for that.

[2015-03-27 01:27] #168 closed, assigned to PJain-REISys

[2015-03-27 01:28] ykhadilkar commented on #160
Deployed on production on 03/26. We now have error output in json file.

[2015-03-27 01:28] #160 closed, assigned to vasili4

[2015-03-27 01:29] ykhadilkar commented on #174
Deployed on production on 03/26.

[2015-03-27 01:29] #174 closed, assigned to vasili4

[2015-03-27 01:29] ykhadilkar commented on #171
Deployed on production on 03/26.

[2015-03-27 01:29] #171 closed, assigned to PJain-REISys

[2015-03-27 01:29] ykhadilkar commented on #152
Deployed on production on 03/26.

[2015-03-27 19:17] rebeccawilliams opened #176 "add US Public Domain URL to license field pull down"
See also: https://github.com/project-open-data/project-open-data.github.io/issues/453

[2015-03-31 16:48] MikePulsiferDOL opened #177 "Don't display media type field when "Link to an API" is selected"
I'm trying to edit a dataset resource for https://inventory.data.gov/dataset/2010-workforce-investment-act-wages by adding a sample key and setting the resource type to "link to an API."  Our API offers both JSON and XML (v1 is XML by default, v2 (June) will be JSON by default).  CKAN is now not letting me set the media type to API as we were instructed to do in the past.  If I let CKAN determine,

[2015-04-02 18:43] philipashlock commented on #177
This is actually the correct behavior.

When linking to an API, you're actually just linking to the documentation for the API as explained in the [API guidance](https://project-open-data.cio.gov/v1.1/api/)

If your API is able to output the entire dataset in a particular format with one URL then you can treat each format it outputs just like a separate downloadURL rather than an API

There's more

[2015-04-02 19:10] MikePulsiferDOL commented on #177
We do not set the format returned in the URL, but rather in the accept header.  If we use CKAN as it currently works, we'd be telling the world our APIs are XML-only, which isn't true.

Edit:  I believe you are confusing the URL field in CKAN with the Data Dictionary field.

[2015-04-02 19:23] philipashlock commented on #177
The nuances of API parameters are beyond the scope of DCAT and the Project Open Data schema which is why we added the `describedBy` field (aka Data Dictionary) so that you can provide **Machine Readable API Documentation** such as [Swagger](https://github.com/swagger-api/swagger-spec#readme), [RAML](http://raml.org/), [API Blueprint](https://apiblueprint.org/), [HAL](http://stateless.co/hal_specif

[2015-04-02 19:28] MikePulsiferDOL commented on #177
I'm not trying to do ANYTHING to describedBy.  I'm trying to change the accessURL, but CKAN is forcing a mime type into format that I can't delete.

[2015-04-02 19:56] philipashlock commented on #177
The current Project Open Data schema and inventory.data.gov do not provide a way to specify the mime type (aka `mediaType`) for APIs or any `accessURL` - only for a `downloadURL`. If you want to specify different mime types supported by an API, you'd need to use the `describedBy` field with a corresponding URL to machine readable API docs. Anything that is specified as an API in inventory.data.gov

[2015-04-07 15:29] bharathkannansba opened #178 "Provide License options for datasets"
Since OMB's direction is to update the license information for all the datasets and since most of the datasets would use the default http://www.usa.gov/publicdomain/label/1.0/ or http://creativecommons.org/publicdomain/zero/1.0/, it would be a nice feature to have an option to either default to an option or at least provide option to choose from a list rather than having to type in every time.

[2015-04-13 18:08] ykhadilkar commented on #176
@rebeccawilliams which one do you want to add?
- http://www.copyright.gov/title17/92chap1.html#105 (this is my preference, with my motivations being an authoritative permalink)
- http://www.usa.gov/copyright.shtml, or
- a new Project Open Data URL, similar to: https://project-open-data.cio.gov/unknown-license/

[2015-04-13 18:20] rebeccawilliams commented on #176
This was URL decided upon (it redirects to the 2nd): http://www.usa.gov/publicdomain/label/1.0/

See: https://project-open-data.cio.gov/open-licenses/

[2015-04-13 18:33] ykhadilkar commented on #176
Got it.

[2015-04-14 02:07] kvuppala commented on #50
@philipashlock @alex-perfilov-reisys @ykhadilkar-rei
Unique Ids will be required to be unique with in one organization and all of their sub agencies that are configured, in one data.json file that is generated there cant be same  unique id for two datasets, same check is done on the catalog.data.gov harvesting feature.

[2015-04-14 16:48] MikePulsiferDOL opened #179 "How to handle compressed files"
We have an agency that is compressing their large CSVs into ZIP files.  The error logs for the inventory suggest there's a format mismatch because we stated that the data is in a CSV file.  That is correct, but it's been compressed.

Shouldn't the data format matter more than the file format as far as what is presented to the end-user looking for data?  I ask because stating it's a ZIP file wouldn

[2015-04-17 16:42] rebeccawilliams commented on #152
This needs to be added to the documentation here to provide clarity to this functionality to users: http://www.digitalgov.gov/resources/inventory-data-gov-guide/

[2015-04-20 21:23] #176 closed, assigned to vasili4

[2015-04-28 18:07] kvuppala commented on #177
The above change is in inventory production

[2015-04-28 18:07] #177 closed, assigned to vasili4

[2015-04-29 17:43] abrown920 opened #180 "Hover text is the same for multiple fields on the Create Dataset page"
When I hover my mouse over different fields on the Create Dataset page, starting with Organization, the help text that displays when I hover my mouse over each field is "The publishing entity". This help text exists for all fields after Organization when I hover my mouse over them. The hover text for each field should provide information that assists the user in understanding the example text that

[2015-05-18 15:16] kvuppala commented on #50
@philipashlock This week release will include a check on the uniqueness during the export of data.json, the check can be implemented in the UI as well for a future release.

[2015-06-01 14:42] kvuppala commented on #180
Hover text is updated in inventory production.

[2015-06-01 14:42] #180 closed, assigned to ykhadilkar

[2015-06-01 14:48] kvuppala commented on #50
Unique Id verification at the data.json export is completed, when same identifier is used during export below error is generated in errors.json / errorlog.txt file:

errors.json
[

{"id": "45cefdef-dd9b-49e6-859b-f2d59e82d8bb", "name": "test-1-simple", "title": "test 1 - simple", "organization": "GSA", "errors": [["Invalid Required Field Value", ["The dataset identifier \"test-test-fba-bb\" is use

[2015-06-01 14:48] #50 closed, assigned to nobody

[2015-07-02 14:46] kvuppala opened #181 "Unique ID (Identifier) Uniqueness Check on data entry forms"
On the "Add Dataset" & "Update Dataset" (Manage/Edit Metadata) pages "Identifier" field should be verified for uniqueness across the agency datasets and all of its sub-agencies configured under the main agency, the check should be based on ajax approach without affecting the data entry of other fields.

On click of the "Next: Add Data" / "Update Dataset" button, an error message should be displaye

[2015-07-02 15:00] kvuppala commented on #181
The feature is rolled out in the June release,  below is the screenshot of error message when the same identifier is used.
![inventory_unique_check_screenshot](https://cloud.githubusercontent.com/assets/1738764/8479919/c8fe5d8a-20a8-11e5-884e-5c714d37530e.png)

The unique identifier check is done in the agency/organization where the dataset is created, if any sub agencies are configured check is m

[2015-07-02 15:00] #181 closed, assigned to kvuppala

[2015-07-02 17:38] rebeccawilliams commented on #178
These were updated! See: #176

See also updating the license options to reflect the OMB guidance: https://github.com/GSA/USMetadata/pull/30/files

[2015-07-02 17:38] #178 closed, assigned to nobody

[2015-08-06 20:39] philipashlock opened #182 "Support redactions for each field"
Almost any field could be redacted. The only ones that would never be redacted are: Public Access Level, Rights, and Identifier. This should be presented as a select dropdown with the four exemption reasons as options: https://project-open-data.cio.gov/redactions/

This will make the UI pretty cluttered if we display a dropdown for each field, so maybe these would be hidden for each field and requ

[2015-08-06 21:25] philipashlock commented on #182
Since redactions should be kept to a minimum rather than redacting the entire field, we'll also need a syntax for redacting only selected words in a field. Let's propose to do this with opening and closing tags. An example of an opening tag with the B3 Exemption reason would be `[[REDACT-EX B3]]` and the closing tag would be `[[/REDACT]]`

When this is exported as a redacted record these opening a

[2015-08-18 15:06] philipashlock opened #183 "spatial field is not exported in json"
The `spatial` field does not appear in the exported JSON files.

[2015-08-18 16:50] vasili4 commented on #182
As a first phase,

1) We add `[[redacted]]` icon near every field on the dataset edit form @inventory using `usmetadata extension`.
These icons will not appear if dataset `Public Access Level` is set to "`Public`".

<img width="483" alt="screenshot 2015-08-17 17 20 50" src="https://cloud.githubusercontent.com/assets/6089683/9336271/b05446f0-45a6-11e5-80f9-9c7651ab820f.png">

2) on clicking `[[reda

[2015-08-18 17:08] philipashlock commented on #182
This approach looks good to me. The only feedback I have is on the select dropdown box. Let's have the labels read as:
- Select Exemption Reason
- B3 - Specifically exempted from disclosure by statute provided &#8230;
- B4 - Trade secrets and commercial or financial information obtained from &#8230;
- B5 - Inter-agency or intra-agency memorandums or letters which &#8230;
- B6 - Personnel and medic

[2015-08-20 16:37] vasili4 commented on #182
that's how it's now. Hope I got it right

<img width="678" alt="screenshot 2015-08-20 12 35 00" src="https://cloud.githubusercontent.com/assets/6089683/9389259/19a1e67a-4738-11e5-977a-7a4a44e7971d.png">

<img width="676" alt="screenshot 2015-08-20 12 35 08" src="https://cloud.githubusercontent.com/assets/6089683/9389265/20940166-4738-11e5-98e8-f845e135b0bb.png">

<img width="680" alt="screenshot 2

[2015-08-20 16:47] vasili4 commented on #182
alt/title will show full description

<img width="884" alt="screenshot 2015-08-20 12 46 56" src="https://cloud.githubusercontent.com/assets/6089683/9389526/a7db21f8-4739-11e5-8768-212c910df8af.png">

[2015-08-20 18:48] ykhadilkar commented on #182
@alex-perfilov-reisys Will it be better if we move "R" to the end?

[2015-08-20 19:10] vasili4 commented on #182
well I don't quite like this idea

<img width="351" alt="screenshot 2015-08-20 14 56 34" src="https://cloud.githubusercontent.com/assets/6089683/9392975/6c2dbfbc-474d-11e5-9742-9747dd5d51ad.png">

<img width="353" alt="screenshot 2015-08-20 15 08 44" src="https://cloud.githubusercontent.com/assets/6089683/9392978/6eef5a08-474d-11e5-8316-afb303af36f3.png">

[2015-08-20 21:54] kvuppala commented on #182
I like it on the left,  because for all fields it will be at a constant position

[2015-08-21 16:26] ykhadilkar commented on #182
@kvuppala good point. Only concern was left side is getting little bit crowded. Also does "R" provide enough context that its a button for redacting a field?

[2015-08-21 16:30] kvuppala commented on #182
@philipashlock @ykhadilkar-rei @alex-perfilov-reisys
Yes, the icon there is just a wireframe.  How about we use this as the permanent icon to represent redactions

https://thenounproject.com/search/?q=REDACT&i=28201
![redact](https://cloud.githubusercontent.com/assets/1738764/9413544/774dcc80-4800-11e5-9181-461d9f37c83a.png)

[2015-08-21 20:44] vasili4 commented on #182
<img width="439" alt="screenshot 2015-08-21 16 43 48" src="https://cloud.githubusercontent.com/assets/6089683/9418689/d5af84c6-4823-11e5-9564-3c9c5938dbfe.png">

[2015-08-21 21:24] kvuppala commented on #182
@alex-perfilov-reisys icon small version seems not that clear and indicates redaction.

We could try out these two other options:
https://thenounproject.com/search/?q=REDACT&i=30486
https://thenounproject.com/search/?q=REDACT&i=66406

[2015-08-21 23:43] vasili4 commented on #182
since we're using [fontawesome](http://fortawesome.github.io/Font-Awesome/3.2.1/icons/), I applied icon-eyes (open/closed). Looks good to me

<img width="538" alt="screenshot 2015-08-21 19 41 45" src="https://cloud.githubusercontent.com/assets/6089683/9421168/b1198ecc-483c-11e5-93ac-8ca4d730fa2a.png">

[2015-08-24 15:37] philipashlock commented on #182
Let's just go with the "R" on the left side as the button for now. The only other thing is to change the default text in the select dropdown to "Select FOIA Exemption Reason for Redaction" and don't include the "==" marks.

[2015-08-24 17:15] kvuppala commented on #182
Sure Thanks @philipashlock

[2015-08-28 17:32] kvuppala commented on #182
The redactions feature  is now in production, on the main dataset metadata page UI options are available for Restricted Public, Non Public datasets, users would need to select the R icon to show the dropdown on the field and select the redaction reason.

Also note that, EDI and PDL buttons are renamed to "Unredacted Inventory" and "Redacted Inventory" respectively

The key change on these buttons

[2015-08-28 18:28] kvuppala commented on #182
Also note that in the last night deployment, EDI and PDL buttons are renamed to "Unredacted Inventory" and "Redacted Inventory"

The key change on these buttons export data.json is that, now both include all the datasets  including the "non-public" access level datasets, so the agencies need to redact the fields that are applicable  using the UI options provided and generated the redacted json bef

[2015-08-31 14:45] kvuppala opened #184 "Support redactions for each field at the resources level"
Redactions need to supported at the resource creation level, similar to the main dataset metadata page.

Also remove the redactions option for the parent dataset field on the main dataset metadata page.

[2015-08-31 14:46] kvuppala commented on #184
More information on the redactions at https://github.com/GSA/enterprise-data-inventory/issues/182

[2015-08-31 14:48] kvuppala opened #185 "Support partial redactions on the dataset and resources pages"
More information on the requirement and implementation at https://github.com/GSA/enterprise-data-inventory/issues/182#issuecomment-128514823

[2015-08-31 14:49] kvuppala commented on #182
Pending items on this feature are created as new issues #184 and #185

[2015-08-31 14:49] #182 closed, assigned to vasili4

[2015-09-04 17:23] kvuppala commented on #184
In yesterday's deployment, resource level redactions are supported now.
![resource_redactions](https://cloud.githubusercontent.com/assets/1738764/9690064/293dab6a-5308-11e5-8807-ef2b72059bcf.png)

[2015-09-04 17:23] #184 closed, assigned to vasili4

[2015-09-10 13:25] rebeccawilliams opened #186 "Collection sorting [requested via Help Desk]"
via @JR202, I think this is an inventory request?

[2015-09-10 13:26] #186 closed, assigned to nobody

[2015-09-10 13:28] rebeccawilliams commented on #186
On second read, perhaps this is meant for catalog. Closing this.

[2015-10-05 01:36] QJF3 opened #187 "Accessing CKAN API methods at inventory.data.gov"
I am using httpie to test how to access inventory.data.gov.  Any api methods with zero or more parameters generates a http error of 302 and redirects me to the inventory.data.gov/login.  Not sure what I am doing wrong to use the APIs.   My goals is to be able to update my organization's datasets in batch instead of through a manual process.  Here's the log:

 PS C:\Users\Dev> http -v GET https://i

[2015-10-05 15:48] hkdctol commented on #187
@QJF3 which agency are you with? Do you already have an account and organization in inventory.data.gov?

[2015-10-05 15:53] QJF3 commented on #187
I am with the VA and when I try to access the API I am using my authorization key that is issued to me as an Inventory.Data.Gov user.

[2015-10-05 18:27] ykhadilkar commented on #187
@QJF3
Try below URL to get list of users. object_type can be changed to package or to get everything don't pass it.
https://inventory.data.gov/api/action/member_list?id=va-gov&object_type=user

[2015-10-05 19:45] QJF3 commented on #187
It works.   Are you saying no user credentials, in the form of an authorization key are other key, are needed to read any content in inventory.data.gov?

[2015-10-05 21:23] ykhadilkar commented on #187
In CKAN, for public organization “member_list” api method is public.
http://docs.ckan.org/en/ckan-2.2/api.html#ckan.logic.action.get.member_list

However in inventory to get any specific package or user information, user will get redirected to login page. Other than member_list only data store related API's are public in inventory.

[2015-10-06 14:43] QJF3 commented on #187
@ykhadilkar-rei   How do I access private metadata in Inventory without being redirected to login page?

[2015-10-06 16:11] ykhadilkar commented on #187
I suggesting using https://github.com/GSA/ckan-php-manager
@alex-perfilov-reisys

[2015-10-06 16:47] vasili4 commented on #187
@QJF3 with _httpie_, try this next time:

   `$ http -v GET "https://inventory.data.gov/api/3/action/package_show?id=XXX" Authorization:YYY Cookie:auth_tkt=foo`

where:
- `XXX` = private package id
- `YYY` = your CKAN API key

[2015-10-06 17:45] kvuppala commented on #185
https://github.com/GSA/data.gov/wiki/Intentory.data.gov-User-Guide-for-Redaction-and-Partial-Redaction-Feature explains how the redaction / partial redaction features can be used.

Below are screenshots from test instance, changes will be going live this week.

#1 - Dataset Create/Edit page where full / partial redactions can be done

![a28fdf3a_o 1](https://cloud.githubusercontent.com/assets/1738

[2015-10-07 01:13] kvuppala commented on #185
@philipashlock @hkdctol
Above changes are now available in inventory production site.

[2015-10-07 01:13] #185 closed, assigned to vasili4

[2015-10-21 01:13] kvuppala opened #188 "displaying partial redactions on dataset listing, dataset view, and organization page"
@philipashlock @hkdctol

displaying partial redacted text like strike-through, along with the "R" icon is complete and deployed to production.

Below are the  screenshots from dataset listing, dataset view, and organization pages:
# dataset listing page:

![2bb32c45_o 1](https://cloud.githubusercontent.com/assets/1738764/10625239/0906a000-776f-11e5-903f-502f5bd54bcd.png)
# dataset view page:

![fa

[2015-11-04 20:34] QJF3 commented on #187
Sorry its been so long since I was able to reply.  Thanks for the suggestion @alex-perfilov-reisys, it worked.

For Inventory, I can't seem to access any content from organization va-gov, so I don't know to find the package_show?id=XXX through the API.

[2015-11-04 20:47] vasili4 commented on #187
@QJF3 did you try  `package_search?q=organization:va-gov` ?

[2015-11-05 07:06] QJF3 commented on #187
Thanks @alex-perfilov-reisys.   I am not returning all VA records, but some, so I can work it out from here.   I am closing this issue.

[2015-11-05 07:06] #187 closed, assigned to nobody

[2015-11-05 17:03] vasili4 commented on #187
@QJF3 , there is a hard limit of 1000 rows, so you will never get more than that per request. But you can use pagination, defining `start` and `rows` params, check docs for more http://docs.ckan.org/en/latest/api/#ckan.logic.action.get.package_search

[2015-11-16 19:12] kvuppala commented on #188
https://github.com/GSA/data.gov/wiki/Intentory.data.gov-User-Guide-for-Redaction-and-Partial-Redaction-Feature is updated to reflect the new changes.

[2015-11-28 15:29] JJediny commented on #188
@kvuppala is this issue closed or still work to be done?

[2015-11-28 22:34] JJediny commented on #179
Given the goal is to accurately determine the format/MIME type of files available for download or access its important to denote the initial format (.zip, .tar.gz, .7z) to let users know it needs to be extracted before it can be accessed. For CSV files I can't imagine why it is a required step by the agency producing the data to compress such a lean text based format with no size limitations and m

[2015-11-28 22:34] #179 closed, assigned to nobody

[2015-11-29 14:56] kvuppala commented on #188
@JJediny its complete and should be closed.

[2015-11-29 14:56] #188 closed, assigned to abrown920

[2015-11-30 17:41] JJediny commented on #21
This is now done as part of the validation process on http://labs.data.gov/dashboard/offices

If not fully addressed please contribute to this issue:
https://github.com/GSA/data.gov/issues/697

[2015-11-30 17:41] #21 closed, assigned to nobody

[2016-02-24 23:14] kvuppala opened #189 "dataset to be marked private when all the datastore resources associated are deleted"
Currently when a dataset is added with a csv file resource utilizing datastore, it is automatically marked as public as expected.  However when all or the only resource that is uploaded is removed, then the dataset should be automatically marked private since it no longer utilizes the datastore capability.

[2016-03-07 23:10] philipashlock opened #190 "Remove disclaimer about metadata being released under ODbL"
There's currently the following disclaimer at the bottom of the edit metadata record page:

This is not correct and should be removed

[2016-03-29 22:05] philipashlock opened #191 "Mixed content warning"
We link to http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png in the footer, this should be updated to https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png

[2016-03-30 20:31] vasili4 commented on #191
we could just apply that fix to our custom template https://github.com/ckan/ckan/commit/5c0e4a4f4dba07b300aaf345246c167289d70f55 , since the local copy is already there

[2016-03-30 20:32] #191 closed, assigned to nobody

[2016-07-11 15:11] kvuppala commented on #183
this doesnt seem to an issue anymore.

[2016-07-11 15:11] #183 closed, assigned to nobody

[2016-07-11 15:42] #152 closed, assigned to PJain-REISys

[2016-07-11 15:43] kvuppala commented on #100
this has been in implementation

[2016-07-11 15:43] #100 closed, assigned to nobody

[2016-08-02 16:56] philipashlock opened #192 "Additional options for Frequency"
Add `Irregular` as another option for Frequency (accrualPeriodicity) as well as `Hourly` (R/P1H).

In the future, we may also want to have "Specify Manually" as another option in the dropdown which would then display a field where the 8601 syntax could be entered manually (and subsequently validated). This would allow more unique frequencies like the one described in #175

[2016-08-08 19:50] kvuppala commented on #192
@philipashlock
Irregular option would be ready in production next week.

Specifying a custom ISO 8601 value could be schedule for a future release.

[2016-08-09 14:02] PJain-REISys commented on #190
Verified on QA instance, looks ok and ready to be deployed to prod.

[2016-09-08 15:28] QJF3 opened #193 "File Size Limit for Enterprise Data Inventory"
What's the file size limit for any individual data file that we load to Enterprise Data Inventory?

[2017-01-18 18:13] kvuppala commented on #190
this is completed

[2017-01-18 18:13] #190 closed, assigned to vasili4

[2017-02-06 13:35] kvuppala opened #194 "add feature to filter collection records with in an agency and UI filter to see all child datasets of a parent dataset"
Add feature to
- [ ] filter collection records with in an agency
- [ ] represent the parent records through an icon on the organization page
- [ ] UI filter to see all child datasets of a parent dataset

Currently it is possible to identify collection records and their child records through custom search queries:

Query for finding all parent datasets : https://inventory.data.gov/organization/smal

[2017-03-15 20:53] PJain-REISys opened #195 "User is not able to create a dataset without add a resource on dev inventory instance."
User is not able to create a dataset without add a resource on dev inventory instance. The user should not be restricted to creating a dataset only by adding a resource.

[2017-05-19 15:45] vasili4 commented on #192
https://github.com/GSA/USMetadata/commit/23e4e69bec9de58277ad42bd613bd6585e3c5ec0

[2017-05-19 15:45] #192 closed, assigned to vasili4

[2018-03-13 06:06] theresaanna commented on #195
Why was this made to be the case and how large is the implementation of a fix?

[2018-03-13 06:23] theresaanna commented on #193
To do: make this information available/clearer?

[2018-03-13 18:07] theresaanna commented on #195
This is the design of the application that requires that the dataset be published with the metadata. There is a potential use case in drafting a dataset that would be considered as a feature request.

[2021-07-21 06:33] Myhubzoze commented on #195
I don't know how to use this